  <div class="container-fluid no-print">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

        <div class="pull-right">
          <div ng-show="signIn && authorizeData.ready">
            <div ng-show='authorizeData.user'>
              <div class="pull-right" ng-show="authorizeData.user.picture">
                  <img 
                    style="max-height:36px;max-width:36px;padding:2px 4px;" 
                    title="{{ authorizeData.user.email }}" 
                    ng-src="{{ authorizeData.user.picture }}" 
                    />
              </div>
              <div class="pull-right">
                <div class="text-right"><small style="margin:0 2px;">
                  <span class="label label-important" title="limit access!" 
                    ng-show="authorizeData.user.limitAccess"> ! </span>
                  <span ng-bind="authorizeData.user.email" title="{{ authorizeData.user.name }}"></span>
                </small></div>
                <div class="text-right">
                  <small style="margin:0 2px;">
                    <a ng-href="https://www.google.com/accounts/Logout" 
                      ng-show="authorizeData.user.limitAccess">
                      google sign out
                    </a>
                    <a ng-href="#/manage" 
                      ng-hide="authorizeData.user.limitAccess">
                      manage
                    </a>
                  </small>
                </div>
              </div>
            </div>

            <div ng-hide="authorizeData.user">
              <a href class="btn btn-primary" ng-click="signIn()">Sign in</a>
            </div>

          </div>
        </div>


        <div class="container"  ng-controller="appMenuCtrl">

          <button type="button" class="btn btn-navbar" ng-click="appmenu_collapse = !appmenu_collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" ng-href="{{ menu.root || './' }}">/</a>
          <a class="brand" ng-href="{{ menu.home || '#/' }}" title="{{ menu.version }}">{{ menu.title }}</a>
          <a class="brand" ng-href="{{ menu.home || '#/' }}" target="_blank" title="new page">&raquo;</a>
          <div ng-hide="appmenu_collapse">
            <ul class="nav" 
              ng-hide="signIn && (!authorizeData.user || authorizeData.user.limitAccess)"
              >
              <li ng-repeat="mnu in appMenus" ng-class="mnu.subMenus && 'dropdown'" ng-switch="(!!mnu.subMenus).toString()">
                  <a ng-href="{{ mnu.project + '#/' + mnu.module }}" ng-switch-when="false">
                    {{ mnu.title }}
                  </a>
                  <a href class="dropdown-toggle" ng-switch-when="true">
                    {{ mnu.title }}
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li ng-repeat="sub in mnu.subMenus">
                      <a ng-href="{{ sub.url }}">{{ sub.label }}</a>
                    </li>
                  </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>


