
    <div class="row-fluid" >
      <div style="word-wrap:break-word;">
        <h3>
          <a ng-href="{{ urlSearch({_name : data._name}) }}" xng-click="goSearch({_name : data._name})" ng-bind="data._name"></a>
          <span ng-show="adminView">
            <span ng-repeat="action in adminView.actions">
              <a class="btn btn-small" ng-href="#{{ basepath }}/{{action.name}}/{{ data.$id() }}">{{action.label || action.name}}</a>
            </span>
            <span ng-show="!adminView.actions">
              <a class="btn btn-small" ng-href="#{{ basepath }}/edit/{{ data.$id() }}">แก้ไข</a>
            </span>
            <span ng-show="utils.temp('gdrive',data)">
              <a class="btn btn-small" ng-click="viewGDrive(data)">ไฟล์แนบ</a>
            </span>
            <span ng-show="utils.temp('gcalendar',data)">
              <a class="btn btn-small" ng-click="viewGCalendar(data)">ปฏิทิน</a>
            </span>
          </span>
        </h3>
        <div ng-hide="ifSingleShow(true ,false)">
          <span style="padding-right:4px;" ng-repeat="cat in categories">
            <span class="label hover-opacity-high" style="margin:1px 0;" ng-init="_v=utils.lookup(data,cat.name);" ng-show="_v">
              <span ng-init="_q={}; _q[cat.name]=_v" ng-bind="cat.label"></span>
              <button class="btn btn-small" ng-click="goSearch(_q)">{{ formatValue(_v) }}</button>
            </span>
          </span>
        </div>
      </div>

      <div> 
        <div>
          <dl ng-class="ifSingleShow('table-display','')" ng-init="dtToggles={}">

            <div ng-repeat="fields in [utils.temp('displayItems',data),utils.temp('singleShowFields', data)]">

              <div 
                ng-repeat="fld in fields" 
                ng-init="fldId='fld'+$index" 
                ng-class="fld.defClass"
                >

                <dt ng-click="dtToggles[fldId] = !dtToggles[fldId]" ng-class="fld.termClass">
                  <span ng-show="fld.subfields" style="cursor:pointer;">
                    {{ (dtToggles[fldId] && ' + ') || ' - ' }}
                    {{ fld.label }} 
                  </span>
                  <span ng-hide="fld.subfields">
                    {{ fld.label }} 
                  </span>
                </dt>

                <dd ng-class="fld.dataClass">
                  <div class="pre-wrap" ng-class="fld.viewClass">{{ fld.format || formatValue(fld.value) }}</div>
                  <div ng-show="fld.subfields">
                    <dl ng-class="ifSingleShow('table-display table-sub','')" ng-hide="dtToggles[fldId]">
                      <div ng-repeat="subfld in fld.subfields" ng-class="fld.defClass">
                        <dt ng-bind="subfld.label" ng-class="subfld.termClass">{{ subfld.label }}</dt>
                        <dd ng-class="subfld.dataClass">
                          <div class="pre-wrap" ng-class="subfld.viewClass">{{ subfld.format || formatValue(subfld.value) }}</div>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </dd>
              </div>

            </div>
          </dl>
        </div>

      </div>

    </div>
