
    <div class="row-fluid" >
      <div style="word-wrap:break-word;">
        <div style="margin-top:1em;">

          <h3 class="item-title">
            <a ng-href="{{ urlSearch({_name : data._name}) }}" ng-bind="data._name"></a>

            <small class="dropdown" ng-show="adminView">
                  <a tabindex="-1" href class="dropdown-toggle btn btn-mini">
                    <span style="font-weight:800;">&nabla;</span>
                  </a>
                  <ul class="dropdown-menu">

                    <li ng-hide="adminView.actions">
                        <a 
                          ng-href="#{{ basepath }}/edit/{{ data.$id() }}"
                          >
                          แก้ไข
                        </a>            
                    </li>

                    <li ng-repeat="action in adminView.actions(data)" ng-class="!(action.url) && 'divider'">
                      <a 
                        title="{{ action.title || '' }}"
                        ng-href="{{ (action.url || '').replace('$id',data.$id()) }}"
                        ng-show="action.url"
                        >
                        {{ action.label || action.title }}
                      </a>
                    </li>

                    <li ng-show="utils.temp('gdrive',data)">
                      <a href 
                        ng-click="viewGDrive(data)"
                        >
                        ไฟล์แนบ
                      </a>
                    </li>
                    <li ng-show="utils.temp('gcalendar',data)">
                      <a href 
                        ng-click="viewGCalendar(data)"
                        >
                        ปฏิทิน
                      </a>
                    </li>

                  </ul>
            </small>
            <small ng-show="data._sys.post_errors">
              <a href class="label label-warning" ng-click="viewErrors(data,data._sys.post_errors)">
                error
              </a>
            </small>
          </h3>
        </div>
        <div ng-hide="ifSingleShow(true ,false)">
          <span style="padding-right:4px;" ng-repeat="cat in categories">
            <span class="label hover-opacity-high" style="margin:1px 0;" ng-init="_v=utils.lookup(data,cat.name);" ng-show="_v">
              <span ng-init="_q={}; _q[cat.name]=_v" ng-bind="cat.label"></span>
              <button class="btn btn-small" ng-click="goSearch(_q)">{{ utils.formatValue(_v) }}</button>
            </span>
          </span>
        </div>
      </div>

      <div> 
        <div>
          <dl ng-class="ifSingleShow('table-display','')" ng-init="dtToggles={}">

            <div ng-repeat="fields in [utils.temp('displayItems',data),utils.temp('singleShowFields', data)]">

              <div 
                ng-repeat="fld in fields" 
                ng-init="fldId='fld'+$index" 
                ng-class="fld.defClass"
                >

                <dt ng-click="dtToggles[fldId] = !dtToggles[fldId]" ng-class="fld.termClass">
                  <span ng-show="fld.subfields" style="cursor:pointer;">
                    {{ (dtToggles[fldId] && ' + ') || ' - ' }}
                    {{ fld.label }} 
                  </span>
                  <span ng-hide="fld.subfields">
                    {{ fld.label }} 
                  </span>
                </dt>

                <dd ng-class="fld.dataClass">
                  <div class="pre-wrap" ng-class="fld.viewClass">{{ utils.formatValue(fld.format || fld.value) }}</div>
                  <div ng-show="fld.subfields">
                    <dl ng-class="ifSingleShow('table-display table-sub','')" ng-hide="dtToggles[fldId]">
                      <div ng-repeat="subfld in fld.subfields" ng-class="fld.defClass">
                        <dt ng-bind="subfld.label" ng-class="subfld.termClass">{{ subfld.label }}</dt>
                        <dd ng-class="subfld.dataClass">
                          <div class="pre-wrap" ng-class="subfld.viewClass">{{ utils.formatValue(subfld.format || subfld.value) }}</div>
                        </dd>
                      </div>
                    </dl>
                  </div>
                </dd>
              </div>

            </div>
          </dl>
        </div>

      </div>

    </div>
