
  <div>
    <div ng-hide="authorizeData.user">
      <h2 class="text-center" ng-show="appLogo || appTitle">
        <span style="margin:1em;" ng-show="appLogo">
          <img ng-src="{{appLogo}}" />
        </span>
        {{ appTitle }}
      </h2>
      <div ng-controller="appAuthCtrl">
        <div ng-show="authorizeData.ready">
          <div class="text-center">
            <p>
              We want a 
              <a href ng-click="signIn()"><strong class="text-warning">Google</strong></a> 
              account to work with, thank you.
            </p>
            <p>
              <button class="btn btn-large btn-primary" ng-click="signIn()">Sign in</button>
            </p>
          </div>
        </div>
        <div class="text-center" ng-show="signed && !authorizeData">
          <p class="text-warning">
            Waiting... or <a href ng-click="reload()">reload</a>.
          </p>
        </div>
      </div>
    </div>

    <div ng-show="authorizeData.user">
      <div ng-include="'views/includes/search-result.html'"></div>
    </div>
  </div>

