
  <div>
    <div ng-hide="authorizeData.user">
      <div style="margin:20px;" ng-controller="appAuthCtrl">
        <div ng-show="authorizeData.ready">
          <h2 class="text-center" ng-show="appLogo || appTitle">
            <span style="margin:1em;" ng-show="appLogo">
              <img ng-src="{{appLogo}}" />
            </span>
            {{ appTitle }}
          </h2>
          <div>
            We want a 
            <a href ng-click="signIn()"><strong class="text-warning">Google</strong></a> 
            account to work with, thank you.
          </div>
          <div style="margin: 20px 4px;">
            <button class="btn btn-large btn-primary" ng-click="signIn()">Sign in</button>
          </div>
        </div>
        <div style="margin: 20px 4px;" ng-show="signed && !authorizeData">
          <span class="text-warning">Waiting... or <a href ng-click="reload()">reload</a>.</span>
        </div>
      </div>
    </div>

    <div ng-show="authorizeData.user">
      <div ng-include="'views/includes/search-result.html'"></div>
    </div>
  </div>

