
<div class="row-fluid">

  <div class="span3">
    <div class="three-d">
        <h2 class="text-center">ฮ. เ<img src="images/W10-0088x32.jpg" style="margin-left:5px;"/>ง เฮง</h2>
    </div>
  </div>

  <div class="span7" >
    <div ng-hide="authorizeData.user">
      <div style="margin:20px;" ng-controller="appAuthCtrl">
        <div ng-show="authorizeData.ready">
          <div>
            We want a 
            <a href ng-click="signIn()"><strong class="text-warning">Google</strong></a> 
            account to work with, thank you.
          </div>
          <div style="margin: 20px 4px;">
            <button class="btn btn-large btn-primary" ng-click="signIn()">Sign in</button>
          </div>
        </div>
        <div style="margin: 20px 4px;" ng-show="signed && !authorizeData">
          <span class="text-warning">Waiting... or <a href ng-click="reload()">reload</a>.</span>
        </div>
      </div>
    </div>

    <div ng-show="authorizeData.user">
      <div ng-include="'views/npd/search-result.html'"></div>
      
    </div>
  </div>
</div>
