
  <div class="container-fluid" ng-show="dataReady">

        <div ng-include="'views/includes/edit-header.html'"> </div>

        <div class="row-fluid">
          <div class="media">

            <div class="pull-right" ng-show="thumbnailLink">
              <img class="media-object" ng-src="{{thumbnailLink}}" />
            </div>
            <div class="media-body">
              <div>
                <label>ประเภท : </label>
                <select class="input-medium"
                  ng-disabled="!unlockEdit" 
                  ng-model  ="resource._type" 
                  ng-options="c.name as c.name for c in db.database.BUILT_IN.productTypes"
                  ></select>
                <label>หมวด : </label>
                <input type="text" class="input-medium"
                  ng-disabled="!unlockEdit || resource.info.approved"
                  ng-model="resource.info.category" 
                  typeahead="itm for itm in selfList('info.category',$viewValue, {_type : resource._type})"
                  typeahead-wait-ms="typeaheadWait"
                  />
              </div>
              <div>
                <label>
                  รหัส : 
                  <span>
                    <a href class="btn btn-small" ng-class="resource.info.memo && 'btn-info'" ng-click="toggle_memo = !toggle_memo">memo</a>
                  </span>
                </label>
                <input type="text" class="input-medium" 
                  ng-disabled="!unlockEdit"
                  ng-model="resource._name" />
              </div>
            </div>
            <div ng-show="toggle_memo">
              <div  class="alert alert-info">
                  <textarea rows="3" class="input-xxlarge" 
                    ng-model="resource.info.memo" placeholder="บันทึก"
                    ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid"> <!-- body -->

          <ul class="nav nav-tabs">
            <li ng-class="!__tabIdx && 'active'">
              <a href ng-click="__tabIdx=0">
                คุณสมบัติ</a></li>
            <li 
              ng-class="__tabIdx==1 && 'active'" 
              ng-show="!limitEdit && (!resource._id || authorizeData.user.roles.has('ADMIN', 'OFFICER.COST', 'STAFF.IT','DEVELOPER')) "
              >
              <a href ng-click="__tabIdx=1">
                ซื้อ</a></li>
            <li 
              ng-class="__tabIdx==2 && 'active'" 
              ng-show="authorizeData.user.roles.has('ADMIN', 'OFFICER.COST', 'STAFF.IT','DEVELOPER')">
              <a href ng-click="__tabIdx=2">
                ปรับปรุง</a></li>
            <li 
              ng-class="__tabIdx==3 && 'active'"
              ng-show="authorizeData.user.roles.has('OFFICER', 'MANAGER', 'ADMIN', 'OFFICER.COST', 'STAFF.IT','DEVELOPER')">
              <a href ng-click="__tabIdx=3">
                {{ 'ที่เก็บ/ยืม/ขาย' }} 
                <span ng-class="{sold : 'label label-important', taken : 'label label-info'}[getState()]">
                  {{ getState() }} 
                </span>              
              </a></li>
          </ul>

            <div ng-show="!__tabIdx" heading="คุณสมบัติ">

                <div class="row-fluid">
                    <label>รายละเอียด : </label>
                    <textarea rows=2 class="input-xxlarge" 
                      ng-model="resource.info.detail"
                      ></textarea>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>ราคาประเมิน : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.lowest_price"
                      numeral="'money'"
                      />
                  </div>
                  <div class="span4">
                    <label>ราคาตั้งยืม : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.taking_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>ราคาตั้งขาย : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.target_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>น้ำหนักรวม : </label>
                    <input type="text" class="input-small"
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.weight" 
                      numeral="'0[.]0'"
                      />
                  </div>

                  <div class="span4">
                    <label>สภาพ : </label>
                    <input type="text" class="input-medium"
                      ng-model="resource.info.cond" 
                      typeahead="itm for itm in selfList('info.cond',$viewValue)"
                      typeahead-wait-ms="typeaheadWait"
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <a href class="btn"
                        ng-class="(__showMore && 'btn-info')"
                        ng-click="__showMore = !__showMore">
                        ดูเพิ่มเติม &raquo;
                      </a>
                    </div>

                      <div class="btn-group" ng-show="__showMore">
                        <a href class="btn" 
                          ng-class="(__moreMetal && 'btn-warning')" 
                          ng-click="__moreMetal = !__moreMetal">
                          ตัวเรือน
                        </a>
                        <a href class="btn" 
                          ng-class="(__moreGems && 'btn-warning')" 
                          ng-click="__moreGems = !__moreGems">
                          อัญมณี
                        </a>
                        <a href class="btn" 
                          ng-class="(__moreWatch && 'btn-warning')" 
                          ng-click="__moreWatch = !__moreWatch">
                          นาฬิกา
                        </a>
                      </div>
                    </div>
                  </div>

                  <div ng-show="__showMore">
                    <div class="container-fluid">
                      <div class="row-fluid">
                        <div class="span4">
                          <label>brand : </label>
                          <input type="text" class="input-medium"
                            ng-model="resource.info.brand" 
                            typeahead="itm for itm in selfList('info.brand',$viewValue)"
                            typeahead-wait-ms="typeaheadWait"
                            />
                        </div>

                        <div class="span4">
                          <label>serial : </label>
                          <input type="text" class="input-medium"
                            ng-model="resource.info.serial" 
                            />
                        </div>
                      </div>

                      <div class="row-fluid">
                        <div class="span4">
                          <label>warranty : </label>
                          <input type="text" class="input-medium"
                            ng-model="resource.info.warranty" 
                            typeahead="itm for itm in selfList('info.warranty',$viewValue)"
                            typeahead-wait-ms="typeaheadWait"
                            />
                        </div>
                      </div>
                    </div>

                    <div class="alert" ng-show="__moreMetal">
                      <div class="container-fluid">
                        <label>
                          ตัวเรือน
                        </label>
                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">เนื้อโลหะ</span>
                            <input type="text" class="input-medium"
                              ng-model="metal().type"
                              typeahead="itm for itm in selfList('info.metal.type',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">สีตัวเรือน</span>
                            <input type="text" class="input-medium"
                              ng-model="metal().color"
                              typeahead="itm for itm in selfList('info.metal.type',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>
                        </div>
                        
                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">นน.ทอง</span>
                            <input type="text" class="input-small"
                              ng-disabled="resource.info.approved"
                              ng-model="metal().gold_weight" 
                              numeral="'0[.]0'"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">%ทอง</span>
                            <input type="text" class="input-small"
                              ng-disabled="resource.info.approved"
                              ng-model="metal().gold_percent" 
                              typeahead="itm for itm in selfList('info.metal.gold_percent',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>
                        </div>

                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">เบอร์แหวน</span>
                            <input type="text" class="input-small"
                              ng-model="metal().ring_size" 
                              numeral="'0[.]0'"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">ความยาว</span>
                            <input type="text" class="input-medium"
                              ng-model="metal().lace_length" 
                              />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="alert" ng-show="__moreGems">
                      <div class="container-fluid">
                        <div class="row-fluid">
                          <label>
                            อัญมณี
                            <span ng-hide="resource.info.approved">
                              <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(gems())">เพิ่ม</a>
                            </span>
                          </label>

                          <div class="alert" ng-show="gems().length">
                            <div ng-repeat="gem in gems()">
                              <hr ng-show="$index" />
                              <div class="pull-right" ng-hide="resource.info.approved">
                                [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                                  ng-click="resource$entry.remove(gems(),$index)"
                                  >
                                  ลบ
                                  </a> ]
                              </div>

                              <div class="input-prepend">
                                <span class="add-on">ชนิด</span>
                                <input type="text" class="input-medium"
                                  ng-disabled="resource.info.approved"
                                  ng-model="gem.type" 
                                  typeahead="itm for itm in selfList('meta.gems.type',$viewValue)"
                                  typeahead-wait-ms="typeaheadWait"
                                  />
                              </div>

                              <div class="input-prepend">
                                <span class="add-on">สี</span>
                                <input type="text" class="input-small"
                                  ng-model="gem.color"
                                  typeahead="itm for itm in selfList('meta.gems.color',$viewValue)"
                                  typeahead-wait-ms="typeaheadWait"
                                  />
                              </div>

                              <div class="input-prepend">
                                <span class="add-on">น้ำหนัก</span>
                                <input type="text" class="input-small" 
                                  ng-disabled="resource.info.approved"
                                  ng-model="gem.weight" 
                                  numeral="'0[.]0'" />
                              </div>

                              <div class="input-prepend">
                                <span class="add-on">จำนวน</span>
                                <input type="text" class="input-small" 
                                  ng-disabled="resource.info.approved"
                                  ng-model="gem.qty" 
                                  numeral="'qty'" />
                              </div>

                              <div class="input-prepend">
                                <span class="add-on">cert</span>
                                <input type="text" class="input-medium" ng-model="gem.cert" />
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="alert" ng-show="__moreWatch">
                      <div class="container-fluid">
                        <label>
                          นาฬิกา
                        </label>
                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">brand</span>
                            <input type="text" class="input-medium"
                              ng-model="resource.info.brand" 
                              typeahead="itm for itm in selfList('info.brand',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">serial</span>
                            <input type="text" class="input-medium"
                              ng-model="resource.info.serial" 
                              />
                          </div>
                        </div>

                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">model</span>
                            <input type="text" class="input-medium"
                              ng-model="watch().model" 
                              typeahead="itm for itm in selfList('info.watch.model',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">warranty</span>
                            <input type="text" class="input-medium"
                              ng-model="resource.info.warranty" 
                              typeahead="itm for itm in selfList('info.warranty',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>
                        </div>

                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">ชนิดสาย</span>
                            <input type="text" class="input-medium"
                              ng-model="watch().band_type" 
                              typeahead="itm for itm in selfList('info.watch.band_type',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">จำนวนข้อ</span>
                            <input type="text" class="input-medium"
                              ng-model="watch().band_joint" 
                              />
                          </div>
                        </div>

                        <div class="row-fluid">
                          <div class="input-prepend span4">
                            <span class="add-on">ขนาดหน้าปัด</span>
                            <input type="text" class="input-medium"
                              ng-model="watch().dial_size" 
                              typeahead="itm for itm in selfList('info.watch.dial_size',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>

                          <div class="input-prepend span4">
                            <span class="add-on">สีหน้าปัด</span>
                            <input type="text" class="input-medium"
                              ng-model="watch().color"
                              typeahead="itm for itm in selfList('info.watch.color',$viewValue)"
                              typeahead-wait-ms="typeaheadWait"
                              />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            
            <div ng-show="__tabIdx==1" heading="ซื้อ">
            
                <div class="row-fluid">

                  <div class="span4">
                    <label>วันที่ซื้อ : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="buying().date" 
                      moment="'DD/MM/**BB'"
                      typeahead="d.name as (d.label || d.name) 
                        for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                      />
                  </div>

                  <div class="span4">
                    <label>เงื่อนไขซื้อ : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="buying().cond"
                      typeahead="itm for itm in selfList('info.buying.cond',$viewValue)"
                      typeahead-wait-ms="typeaheadWait"
                      />
                  </div>
                </div>

                <div>
                  <label>ซื้อจาก : </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="resource.info.approved"
                    ng-model="buying().person"
                    typeahead="itm for itm in selfList('info.buying.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid">

                  <label>
                    มาจาก : 
                    <span ng-hide="resource.info.approved">
                      <a href="" class="btn btn-small btn-danger" 
                        ng-click="resource$entry.add(refs())">
                        เพิ่ม
                      </a>
                    </span>
                  </label>
                  <div class="alert alert-success" ng-show="refs().length">
                    <div ng-repeat="ref in refs()">
                      <div class="pull-right" ng-hide="resource.info.approved">
                        [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                          ng-click="resource$entry.remove(refs(),$index)"
                          >
                          ลบ
                          </a> ]
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">รหัส</span>
                        <input type="text" class="input-medium" 
                          ng-model="ref.name" />
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row-fluid">

                  <div class="span4">
                    <label>ต้นทุนซื้อ : </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="buying().cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid">

                  <label>
                    ต้นทุนปรับปรุง : 
                    <span ng-hide="resource.info.approved">
                      <a href="" class="btn btn-small btn-danger" 
                        ng-click="resource$entry.add(providings())">
                        เพิ่ม
                      </a>
                    </span>
                  </label>
                  <input type="text" class="input-medium" disabled
                    ng-model="calc.providing_cost"
                    numeral="'money'"
                    />

                  <div class="alert alert-info" ng-show="providings().length">
                    <div ng-repeat="provide in providings()">
                      <div class="pull-right" ng-hide="resource.info.approved">
                        [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                          ng-click="resource$entry.remove(providings(),$index)"
                          >
                          ลบ
                          </a> ]
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">ปรับปรุง</span>
                        <input type="text" class="input-xlarge" 
                          ng-model="provide.description" />
                      </div>
                      <span style="padding-left:4px;"></span>
                      <div class="input-prepend">
                        <span class="add-on">ค่าใช้จ่าย</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="resource.info.approved"
                          ng-model="provide.cost"
                          numeral="'money'" 
                           />
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row-fluid">

                  <div class="span4">
                    <label>ต้นทุนซื้อสุทธิ : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.total_buying_cost"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label>
                      สำรองกำไร: 
                      <span ng-show="calc.provider_cost_percent">{{ calc.provider_cost_percent }}%</span>
                      </label>
                    <input type="text" class="input-medium"  disabled
                      ng-model="resource.info.buying.provider_cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid" >
                  <hr />
                </div>

                <div class="row-fluid" >

                  <div class="span4">
                    <label>
                      ต้นทุนร้าน : 
                    </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.cost"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label class="add-on">คชจ.ปรับปรุง : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.repair_cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid">

                  <div class="span4" >
                    <label class="add-on">ต้นทุนร้านสุทธิ : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.total_cost"
                      numeral="'money'"
                    />
                  </div>

                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>
                      ราคาประเมิน : 
                      <span ng-show="calc.lowest_price_percent">{{ calc.lowest_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.lowest_price"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label>
                      ราคาตั้งขาย : 
                      <span ng-show="calc.target_price_percent">{{ calc.target_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.target_price"
                      numeral="'money'"
                      />
                  </div>
                </div>
            </div>

            <div ng-show="__tabIdx==2" heading="ปรับปรุง">

                <div class="row-fluid" >

                  <div class="span4">
                    <label>
                      ต้นทุนร้าน : 
                    </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="resource.info.cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid">

                  <label class="add-on">
                    คชจ.ปรับปรุง: 
                    <span ng-hide="resource.info.approved">
                      <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(repairings())">
                        เพิ่ม
                      </a>
                    </span>
                  </label>
                  <input type="text" class="input-medium" disabled
                    ng-model="calc.repair_cost"
                    numeral="'money'"
                    />
                  <div class="alert alert-info" ng-show="repairings().length">
                    <div ng-repeat="repair in repairings()">
                      <div class="pull-right" ng-hide="resource.info.approved">
                        [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                          ng-click="resource$entry.remove(repairings(),$index)"
                          >
                          ลบ
                          </a> ]
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">ปรับปรุง</span>
                        <input type="text" class="input-xlarge" ng-model="repair.description" />
                      </div>
                      <span style="padding-left:4px;"></span>
                      <div class="input-prepend">
                        <span class="add-on">ค่าใช้จ่าย</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="resource.info.approved"
                          ng-model="repair.cost"
                          numeral="'money'" 
                           />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row-fluid">

                  <div class="span4" >
                    <label class="add-on">ต้นทุนร้านสุทธิ : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.total_cost"
                      numeral="'money'"
                    />
                  </div>

                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>
                      ราคาประเมิน : 
                      <span ng-show="calc.lowest_price_percent">{{ calc.lowest_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.lowest_price"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label>
                      ราคาตั้งขาย : 
                      <span ng-show="calc.target_price_percent">{{ calc.target_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-disabled="resource.info.approved"
                      ng-model="resource.info.target_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

            </div>

            <div ng-show="__tabIdx==3" heading="ที่เก็บ/ยืม/ขาย">

                <div ng-hide="limitEdit && !limitEdit.selling">
                  <label>
                    ขายให้ : 
                    <span ng-show="taking().person && unlockEdit">
                      <a href class="btn btn-small" ng-click="sellFromTaking()">ผู้ยืม</a>
                    </span>
                  </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit"
                    ng-model="selling().person"
                    typeahead="itm for itm in selfList('Person/_name,info.person_id,meta.phones.id,meta.econtacts.id',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid"  
                  ng-show="utils.notEmpty(selling()) && !(limitEdit && !limitEdit.selling)"
                  >
                  <div class="alert alert-error">

                    <div class="input-prepend">
                      <span class="add-on">วันที่ขาย</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="selling().date" 
                        moment="'DD/MM/**BB'"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">เอกสาร</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="selling().voucher" 
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ขายที่</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="selling().site" 
                        typeahead="itm for itm in selfList('info.selling.site',$viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>

                    <span class="control-group " ng-class="prohibitPrice(selling()) && 'error'">
                      <div class="input-prepend">
                        <span class="add-on">ราคาขาย</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="selling().price"
                          numeral="'money'"
                          />
                      </div>

                      <span class="help-inline"
                        ng-show="prohibitPrice(selling())">
                        *ผิด*
                      </span>
                    </span>

                  </div>
                </div>

                <div ng-hide="limitEdit && !limitEdit.taking">
                  <label>
                    ยืมโดย : 
                    <span ng-show="getState()=='taken'">
                      <a href class="btn btn-small" ng-click="_allowChangeTaking=!_allowChangeTaking">
                      ปรับราคายืม
                      </a>
                    </span>
                  </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit"
                    ng-model="taking().person"
                    typeahead="itm for itm in selfList('Person/_name,info.person_id,meta.phones.id,meta.econtacts.id',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid" 
                  ng-show="utils.notEmpty(taking()) && !(limitEdit && !limitEdit.taking)"
                  >
                  <div class="alert alert-info">

                    <div class="input-prepend">
                      <span class="add-on">วันที่ยืม</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().date" 
                        moment="'DD/MM/**BB'"
                        typeahead="d.name as (d.label || d.name) 
                          for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">เอกสาร</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().voucher" 
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ยืมที่</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().site" 
                        typeahead="itm for itm in selfList('info.taking.site',$viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>

                    <span class="control-group " ng-class="prohibitPrice(taking()) && 'error'">

                      <form style="margin:0;padding:0;display:inline;" 
                        ng-disabled="!unlockEdit && !_allowChangeTaking"
                        ng-submit="takingMsgChanged(oldTakingMsg) && storeTakingMsg(oldTakingMsg, true)"
                        >
                        <input type="submit" tabindex="-1" 
                          style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>


                        <div class="input-prepend"  
                          ng-class="_allowChangeTaking && takingMsgChanged(oldTakingMsg) && 'input-append'"
                          >
                          <span class="add-on">ราคายืม</span>
                          <input type="text" class="input-medium" 
                            ng-disabled="!unlockEdit && !_allowChangeTaking"
                            ng-model="taking().price"
                            numeral="'money'"
                            />
                          <span class="add-on btn btn-small btn-info" 
                            title="{{ oldTakingMsg }}"
                            ng-show="_allowChangeTaking && takingMsgChanged(oldTakingMsg)"
                            ng-click="storeTakingMsg(oldTakingMsg)">
                            &crarr;
                          </span>
                        </div>
                      </form>

                      <span class="help-inline"
                        ng-show="prohibitPrice(taking())">
                        *ผิด*
                      </span>
                    </span>

                    <div class="input-prepend">
                      <span class="add-on">หมายเหตุ</span>
                      <input type="text" class="input-large" 
                        ng-disabled="!unlockEdit && !_allowChangeTaking"
                        ng-model="taking().remark"
                        />
                    </div>


                    <div>
                      <textarea rows="{{ utils.textLines(custom().memo).length}}" class="input-xxlarge"  placeholder="memo"
                        ng-disabled="!unlockEdit && !_allowChangeTaking"
                        ng-model="taking().memo"
                      ></textarea>
                    </div>

                  </div>
                </div>

                <label ng-show="tooks().length">
                  ประวัติยืม :
                  <span ng-hide="!unlockEdit">
                    <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(tooks())">
                      เพิ่ม
                    </a>
                  </span>
                </label>
                <div class="alert alert-info" ng-show="tooks().length">
                  <div ng-repeat="took in tooks()">
                    <hr ng-show="$index" />
                    <div class="pull-right" ng-hide="!unlockEdit || resource.info.approved">
                      [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                        ng-click="resource$entry.remove(tooks(),$index)"
                        >
                        ลบ
                        </a> ]
                    </div>
                    <div>
                      <div class="input-prepend">
                        <span class="add-on">ยืมโดย</span>
                        <input type="text" class="input-xlarge" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.person"
                          typeahead="itm for itm in selfList('Person/_name,info.person_id,meta.phones.id,meta.econtacts.id',$viewValue)"
                          typeahead-wait-ms="typeaheadWait"
                          />
                      </div>
                    </div>
                    <div>
                      <div class="input-prepend">
                        <span class="add-on">วันที่ยืม</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.date" 
                          moment="'DD/MM/**BB'"
                          typeahead="d.name as (d.label || d.name) 
                            for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                          />
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">เอกสาร</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.voucher" 
                          />
                      </div>

                      <div class="input-prepend">
                        <span class="add-on">ยืมที่</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.site" 
                          typeahead="itm for itm in selfList('info.taking.site',$viewValue)"
                          typeahead-wait-ms="typeaheadWait"
                          />
                      </div>

                      <div class="input-prepend">
                        <span class="add-on">วันที่คืน</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.until" 
                          moment="'DD/MM/**BB'"
                          typeahead="d.name as (d.label || d.name) 
                            for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                          />
                      </div>

                      <div class="input-prepend">
                        <span class="add-on">ราคายืม</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="took.price"
                          numeral="'money'"
                          />
                      </div>

                      <div class="input-prepend">
                        <span class="add-on">หมายเหตุ</span>
                        <input type="text" class="input-large" 
                          ng-disabled="!unlockEdit && !_allowChangeTaking && !(limitEdit.keeping && took.until==keeping().date)"
                          ng-model="took.remark"
                          />
                      </div>
                    </div>
                    <div>
                      <textarea rows="{{ utils.textLines(custom().memo).length}}" class="input-xxlarge"  placeholder="memo"
                        ng-disabled="!unlockEdit && !_allowChangeTaking && !(limitEdit.keeping && took.until==keeping().date)"
                        ng-model="took.memo"
                      ></textarea>
                    </div>

                  </div>
                </div>

                <div ng-hide="limitEdit && !limitEdit.keeping">
                  <label>ที่เก็บ : </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit && !limitEdit.keeping"
                    ng-model="keeping().person"
                    typeahead="itm for itm in selfList('info.keeping.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>
                
                <div class="row-fluid" 
                  ng-show="utils.notEmpty(keeping()) && !(limitEdit && !limitEdit.keeping)"
                  >
                  <div class="alert alert-success">

                    <div class="input-prepend">
                      <span class="add-on">วันที่เก็บ</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit && !limitEdit.keeping"
                        ng-model="keeping().date" 
                        ng-change="limitEdit.keeping && (tooks()[tooks().length-1].until = keeping().date)"
                        moment="'DD/MM/**BB'"
                        typeahead="d.name as (d.label || d.name) 
                          for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">เอกสาร</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="keeping().voucher" 
                        />
                    </div>


                  </div>
                </div>

                <label ng-show="kepts().length">
                  ประวัติเก็บ :
                  <span ng-hide="!unlockEdit">
                    <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(kepts())">
                      เพิ่ม
                    </a>
                  </span>
                </label>
                <div class="alert alert-info" ng-show="kepts().length">
                  <div ng-repeat="kept in kepts()">
                    <hr ng-show="$index" />
                    <div class="pull-right" ng-hide="!unlockEdit || resource.info.approved">
                      [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                        ng-click="resource$entry.remove(kepts(),$index)"
                        >
                        ลบ
                        </a> ]
                    </div>
                    <div>
                      <div class="input-prepend">
                        <span class="add-on">เก็บที่</span>
                        <input type="text" class="input-xlarge" 
                          ng-disabled="!unlockEdit"
                          ng-model="kept.person"
                          typeahead="itm for itm in selfList('Person/_name,info.person_id,meta.phones.id,meta.econtacts.id',$viewValue)"
                          typeahead-wait-ms="typeaheadWait"
                          />
                      </div>
                    </div>
                    <div>
                      <div class="input-prepend">
                        <span class="add-on">วันที่เก็บ</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="kept.date" 
                          moment="'DD/MM/**BB'"
                          typeahead="d.name as (d.label || d.name) 
                            for d in utils.dateListAhead($viewValue) | filter:$viewValue"
                          />
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">เอกสาร</span>
                        <input type="text" class="input-medium" 
                          ng-disabled="!unlockEdit"
                          ng-model="kept.voucher" 
                          />
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>

        <div ng-include="'views/includes/edit-footer.html'"> </div>

  </div>