  <div class="container-fluid" ng-init="typeaheadWait=150">

        <div class="editnav-top" ng-include="'views/includes/edit-buttons.html'"> </div>
        <div class="row-fluid">
            <h2>
              {{ db.title }}
              <button tabindex="-1" class="btn btn-inverse" 
                ng-show="!unlockEdit && authorizeData.user.roles.has('ADMIN','DEVELOPER')" 
                ng-click="unlockEdit = !unlockEdit">
                Unlock
              </button>
            </h2>
        </div>

        <div style="clear:both;">&nbsp;</div>

        <div class="row-fluid">
          <div class="media">
            <!-- div class="span4">
              <label>ประเภท : {{ resource._type }}</label>
              <select class="input-medium"
                ng-model  ="resource._type" 
                ng-options="c.name as c.name for c in db.database.BUILT_IN.productTypes"
              ></select>
            </div -->

            <div class="pull-right" ng-show="thumbnailLink">
              <img class="media-object" ng-src="{{thumbnailLink}}" />
            </div>
            <div class="media-body">
              <div>
                <label>ชนิด : </label>
                <input type="text" class="input-medium"
                  ng-model="resource._type"
                  typeahead="itm for itm in selfList('_type',$viewValue)"
                  typeahead-wait-ms="typeaheadWait"
                  />
              </div>
              <div>
                <label>
                  รหัส : 
                  <span>
                    <a href class="btn btn-small" ng-class="resource.info.memo && 'btn-info'" ng-click="toggle_memo = !toggle_memo">memo</a>
                  </span>
                </label>
                <input type="text" class="input-medium" 
                  ng-disabled="!unlockEdit" 
                  ng-model="resource._name" />
              </div>
            </div>
            <div ng-show="toggle_memo">
              <div  class="alert alert-info">
                  <textarea rows="3" class="input-xxlarge" 
                    ng-model="resource.info.memo" placeholder="บันทึก"
                    ></textarea>
              </div>
            </div>
          </div>
        </div>


        <div class="row-fluid"> <!-- body -->

          <ul class="nav nav-tabs">
            <li ng-class="!__tabIdx && 'active'">
              <a href ng-click="__tabIdx=0">
                คุณสมบัติ</a></li>
            <li ng-class="__tabIdx==1 && 'active'" ng-show="authorizeData.user.roles.has('ADMIN','STAFF.IT','DEVELOPER')">
              <a href ng-click="__tabIdx=1">
                ซื้อ</a></li>
            <li ng-class="__tabIdx==2 && 'active'" ng-show="authorizeData.user.roles.has('ADMIN','STAFF.IT','DEVELOPER')">
              <a href ng-click="__tabIdx=2">
                ปรับปรุง</a></li>
            <li ng-class="__tabIdx==3 && 'active'">
              <a href ng-click="__tabIdx=3">
                ที่เก็บ/ยืม/ขาย</a></li>
          </ul>

            <div ng-show="!__tabIdx" heading="คุณสมบัติ">

                <div class="row-fluid">
                    <label>รายละเอียด : </label>
                    <textarea rows=2 class="input-xxlarge" ng-model="resource.info.detail"></textarea>
                </div>


                <div class="row-fluid">
                  <div class="span4">
                    <label>serial : </label>
                    <input type="text" class="input-medium"
                      ng-model="resource.info.serial" 
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>น้ำหนัก : </label>
                    <input type="text" class="input-medium"
                      ng-model="resource.info.weight" 
                      />
                  </div>

                  <div class="span4">
                    <label>นน.ทอง : </label>
                    <input type="text" class="input-medium"
                      ng-model="resource.info.gold_weight" 
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>ราคาประเมิน : </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.lowest_price"
                      numeral="'money'"
                      />
                  </div>
                  <div class="span4">
                    <label>ราคาตั้งยืม : </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.taking_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>ราคาตั้งขาย : </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.target_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

            </div>
            
            <div ng-show="__tabIdx==1" heading="ซื้อ">
            
                <div>
                  <label>วันที่ซื้อ : </label>
                  <input type="text" class="input-medium" 
                    ng-model="resource.info.buying.date" 
                    moment="'DD/MM/**BB'"
                    boot-datepicker="{language: 'th-th'}"
                    />
                </div>

                <div>
                  <label>เงื่อนไขซื้อ : </label>
                  <input type="text" class="input-medium" 
                    ng-model="resource.info.buying.cond"
                    typeahead="itm for itm in selfList('info.buying.cond',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div>
                  <label>ซื้อจาก : </label>
                  <input type="text" class="input-xlarge" 
                    ng-model="resource.info.buying.person"
                    typeahead="itm for itm in selfList('info.buying.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid">

                  <div class="span4">
                    <label>ต้นทุนซื้อ : </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.buying.cost"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label>
                      สำรองกำไร: 
                      <span ng-show="calc.provider_cost_percent">{{ calc.provider_cost_percent }}%</span>
                      </label>
                    <input type="text" class="input-medium"  disabled
                      ng-model="resource.info.buying.provider_cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid" >

                  <div class="span4">
                    <label>
                      ต้นทุนร้าน : 
                    </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.cost"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label class="add-on">คชจ.ปรับปรุง : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.repair_cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div class="row-fluid">

                  <div class="span4" >
                    <label class="add-on">ต้นทุนร้านสุทธิ : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.total_cost"
                      numeral="'money'"
                    />
                  </div>

                </div>

                <div class="row-fluid">
                  <div class="span4">
                    <label>
                      ราคาประเมิน : 
                      <span ng-show="calc.lowest_price_percent">{{ calc.lowest_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.lowest_price"
                      numeral="'money'"
                      />
                  </div>

                  <div class="span4">
                    <label>
                      ราคาตั้งขาย : 
                      <span ng-show="calc.target_price_percent">{{ calc.target_price_percent }}%</span>
                    </label>
                    <input type="text" class="input-medium" 
                      ng-model="resource.info.target_price"
                      numeral="'money'"
                      />
                  </div>
                </div>

            </div>

            <div ng-show="__tabIdx==2" heading="ปรับปรุง">

                <div class="row-fluid">

                  <div class="span4">
                    <label class="add-on">คชจ.ปรับปรุงสุทธิ : </label>
                    <input type="text" class="input-medium" disabled
                      ng-model="calc.repair_cost"
                      numeral="'money'"
                      />
                  </div>

                </div>

                <div>
                  <label>การปรับปรุง :  
                    <span>
                      <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(repairings())">เพิ่ม</a>
                    </span>
                  </label>
                  <div class="alert alert-info" ng-show="repairings().length">
                    <div ng-repeat="repair in repairings()">
                      <div class="pull-right">
                        [ <a tabindex="-1" class="btn btn-small btn-warning" href 
                          ng-click="resource$entry.remove(repairings(),$index)"
                          >
                          ลบ
                          </a> ]
                      </div>
                      <div class="input-prepend">
                        <span class="add-on">รายละเอียด</span>
                        <input type="text" class="input-xlarge" ng-model="repair.description" />
                      </div>
                      <span style="padding-left:4px;"></span>
                      <div class="input-prepend">
                        <span class="add-on">ค่าใช้จ่าย</span>
                        <input type="text" class="input-medium" 
                          ng-model="repair.cost"
                          numeral="'money'" 
                           />
                      </div>
                    </div>
                  </div>
                </div>

            </div>

            <div ng-show="__tabIdx==3" heading="ที่เก็บ/ยืม/ขาย">

                <div>
                  <label>ที่เก็บ : </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit"
                    ng-model="keeping().person"
                    typeahead="itm for itm in selfList('info.keeping.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid" ng-show="utils.notEmpty(keeping())">
                  <div class="alert alert-success">
                    <div class="input-prepend">
                      <span class="add-on">วันที่เก็บ</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="keeping().date" 
                        moment="'DD/MM/**BB'"
                        boot-datepicker="{language: 'th-th'}"
                        />
                    </div>
                </div>


                <div>
                  <label>ยืมโดย : </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit"
                    ng-model="taking().person"
                    typeahead="itm for itm in selfList('info.taking.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid" ng-show="utils.notEmpty(taking())">
                  <div class="alert alert-info">
                    <div class="input-prepend">
                      <span class="add-on">วันที่ยืม</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().date" 
                        moment="'DD/MM/**BB'"
                        boot-datepicker="{language: 'th-th'}"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ราคายืม</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().price"
                        numeral="'money'"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ราคายืมสุทธิ</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().net_price"
                        numeral="'money'"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ราคายืมสุทธิ</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="taking().net_price"
                        numeral="'money'"
                        />
                    </div>

                    <div>
                      <textarea rows="1" class="input-xxlarge"  placeholder="หมายเหตุ"
                        ng-disabled="!unlockEdit"
                        ng-model="taking().remark"
                      ></textarea>

                    </div>
                  </div>
                </div>

                <div>
                  <label>
                    ขายให้ : 
                    <span ng-show="taking().person">
                      <a href class="btn btn-small" ng-click="sellFromTaking()">ผู้ยืม</a>
                    </span>
                  </label>
                  <input type="text" class="input-xlarge" 
                    ng-disabled="!unlockEdit"
                    ng-model="selling().person"
                    typeahead="itm for itm in selfList('info.selling.person',$viewValue)"
                    typeahead-wait-ms="typeaheadWait"
                    />
                </div>

                <div class="row-fluid"  ng-show="utils.notEmpty(selling())">
                  <div class="alert alert-error">
                    <div class="input-prepend">
                      <span class="add-on">วันที่ขาย</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="selling().date" 
                        moment="'DD/MM/**BB'"
                        boot-datepicker="{language: 'th-th'}"
                        />
                    </div>

                    <div class="input-prepend">
                      <span class="add-on">ราคาขาย</span>
                      <input type="text" class="input-medium" 
                        ng-disabled="!unlockEdit"
                        ng-model="selling().price"
                        numeral="'money'"
                        />
                    </div>
                  </div>
                </div>

            </div>

        </div>


        <!-- save/delete/cancel buttons -->
        <div class="editnav-bottom" ng-include="'views/includes/edit-buttons.html'"></div>
        
        <div class="row-fluid"> <!-- footer -->
            <div style="width=100%;height:60px;"></div> <!-- reserved foot space -->
        </div>

  </div>