  <div class="container-fluid" ng-show="dataReady">
    
        <div ng-include="'views/includes/edit-header.html'"> </div>

        <div class="row-fluid">
          <div class="span4">
            <label>
              <span ng-class="!resource._type && 'text-error'">
                ประเภท :
                <span
                  ng-hide="resource._type" 
                  popover="ห้ามว่าง" popover-trigger="mouseenter" popover-placement="right"
                  > 
                  &lowast; 
                </span>
              </span>
            </label>
            <select class="input-medium" 
              required
              ng-disabled = "!unlockEdit || resource.info.approved"
              ng-model  ="resource._type" 
              ng-options="c.name as c.name for c in db.database.BUILT_IN.voucherTypes"
              ng-change  ="voucher_type_change()"
            ></select>
          </div>

          <div class="span4">
            <label>
              <span ng-class="!resource.info.site && 'text-error'">
                สาขา : 
                <span
                  ng-hide="resource.info.site" 
                  popover="ห้ามว่าง" popover-trigger="mouseenter"  popover-placement="right"
                  > 
                  &lowast; 
                </span>
              </span>
            </label>
            <input type="text" class="input-medium" 
              required
              ng-disabled = "resource.info.approved"
              ng-model="resource.info.site"
              ng-change="rememberSite(resource.info.site)" 
              typeahead="itm for itm in selfList('info.site',$viewValue)"
              typeahead-wait-ms="typeaheadWait"
              />
          </div>

        </div>

        <div class="row-fluid">
          <div class="span4">
            <label>
              <span ng-class="!resource.info.issue_date && 'text-error'">
                วันที่ :
                <span
                  ng-hide="resource.info.issue_date" 
                  popover="ห้ามว่าง" popover-trigger="mouseenter"  popover-placement="right"
                  > 
                  &lowast; 
                </span>
              </span>
            </label>
            <input type="text" class="input-medium" 
              required ng-title="{{ (!resource.info.issue_date && 'ห้ามว่าง')||'' }}"
              ng-disabled = "resource.info.approved"
              ng-model="resource.info.issue_date" 
              moment="'DD/MM/**BB'"
              typeahead="d.name as (d.label || d.name) 
                for d in utils.dateListAhead($viewValue) | filter:$viewValue"
              />
          </div>

          <div class="span4">
            <label>
              <span ng-class="!resource._name && 'text-error'">
                เลขที่ : 
                <span
                  ng-hide="resource._name" 
                  popover="ห้ามว่าง" popover-trigger="mouseenter"  popover-placement="right"
                  > 
                  &lowast; 
                </span>
              </span>
            </label>
            <input type="text" class="input-medium" 
              required
              popover="ใส่ * เพื่อrun อัตโนมัติ" popover-trigger="focus"
              ng-disabled = "!unlockEdit || resource.info.approved"
              ng-model="resource._name" 
              ng-change="resource._name = resource._name.toUpperCase()"/>
          </div>

        </div>

        <div class="row-fluid">
          <div class="span8">
            <label>
              <span ng-class="!person().name && 'text-error'">
                ชื่อ :
                <span>
                  <a href class="btn btn-small" ng-class="resource.info.memo && 'btn-info'" ng-click="toggle_memo = !toggle_memo">memo</a>
                </span>
                <span
                  ng-hide="person().name" 
                  popover="ห้ามว่าง" popover-trigger="mouseenter"  popover-placement="right"
                  > 
                  &lowast; 
                </span>
              </span>
              <span class="text-error" ng-show="takenItems().length">
                ค้างยืมรวม {{ takenItems().length }} รายการ  
                <strong ng-show="utils.sum(takenItems(),'price')"> 
                  {{utils.sum(takenItems(),'price') | numeral}} บาท 
                </strong>
              </span>
            </label>
            <div class="input-append">
              <form style="margin:0;padding:0;display:inline;" ng-submit="personSync(person())">
                <input type="submit" tabindex="-1" 
                  style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                <input type="text" class="input-large" 
                  required 
                  ng-disabled="resource.info.approved"
                  ng-model="person().name" 
                  typeahead="itm for itm in selfList('Person/_name,info.person_id,meta.phones.id,meta.econtacts.id', $viewValue)"
                  typeahead-wait-ms="typeaheadWait"
                  />
                <span class="add-on btn" 
                  ng-disabled="resource.info.approved"
                  ng-class="!isSynced(person()) && 'btn-info'"
                  ng-click="personSync(person(),true)"
                  >
                  &crarr;
                </span>
              </form>
            </div>
          </div>
        </div>

        <div ng-show="toggle_memo">
          <div  class="alert alert-info">
              <textarea rows="3" class="input-xxlarge" 
                ng-model="resource.info.memo" placeholder="บันทึก"
                ></textarea>
          </div>
        </div>

        <div class="row-fluid"> <!-- body -->
          <ul class="nav nav-tabs">
            <li ng-class="!__tabIdx && 'active'">
              <a href ng-click="__tabIdx=0">
                ที่อยู่และส่งของ</a></li>
            <li ng-class="__tabIdx==2 && 'active'" ng-show="takenItems().length">
              <a href ng-click="__tabIdx=2">
                ค้างยืม</a></li>
            <li ng-class="__tabIdx==1 && 'active'">
              <a href ng-click="__tabIdx=1">
                รายการ{{resource._type}}</a></li>
          </ul>

          <div class="container-fluid" ng-show="!__tabIdx">

            <div class="row-fluid">
                <label>ชื่อเต็ม :</label>
                <div>
                  <div>
                      <input type="text" class="input-xxlarge" 
                        ng-model="person().display_name" 
                        />
                  </div>
                </div>

                <label>ที่อยู่ :</label>
                <div>
                  <div class=""ng-show="person().$temp.data.meta.locations.length > 1">
                    <ul class="nav nav-pills"  style="margin:0;" >
                      <li 
                        ng-repeat="loc in person().$temp.data.meta.locations"
                        ng-class="(loc2Address(loc)==person().address)&&'active'">
                        <a href ng-click="person().address = loc2Address(loc)">
                          {{ loc.type || ($index +1) }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div ng-class="(person().$temp.data.meta.locations.length > 1) && 'input-append'">
                    <textarea rows="2.5" class="input-xxlarge" 
                      ng-model="person().address" 
                      ></textarea>
                  </div>
                </div>
                <label>ส่งของ :</label>
                <div>
                  <div>
                      <input type="text" class="input-xxlarge" 
                        ng-model="person().shipping" 
                        />
                  </div>
                </div>
            </div>
          </div><!--/tab-->

          <div class="container-fluid" ng-show="__tabIdx==1" heading="รายการ">
            <div class="row-fluid" style="margin-bottom:1em;">
                <span ng-hide="resource.info.approved">
                  <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(items())">เพิ่ม</a>
                </span>
                <span class="alert alert-info" ng-show="items().length">
                  รายการ{{resource._type}} {{ items().length }} รายการ 
                  <strong ng-show="utils.sum(items(),'price')">
                    {{utils.sum(items(),'price') | numeral}} บาท
                  </strong>                  
                </span>
            </div>
            <div class="row-fluid">
              <div class="alert alert-info" ng-show="items().length">
                <div ng-repeat="item in items()">
                  <hr ng-show="$index" />
                  <div>
                    <div class="pull-right" style="padding:0 1em;" 
                      ng-hide="resource.info.approved">
                      <a tabindex="-1" class="btn btn-small btn-warning" href 
                        ng-click="resource$entry.remove(items(),$index)"
                        >
                        ลบ
                        </a>
                    </div>
                    <div class="media">
                      <div class="media-object pull-right span2" 
                        ng-show="item.$temp.data.meta.images[0].thumbnailLink"
                        >
                        <span style="margin:4px;">
                          <img class="img-polariod" ng-src="{{ item.$temp.data.meta.images[0].thumbnailLink }}" />
                        </span>
                      </div>

                      <div>
                        <div>

                          <div>
                            <div>
                              <div class="input-append">
                                <span class="label" style="margin-right:2px;">
                                  {{ $index + 1 }}
                                </span>
                              </div>

                              <form style="margin:0;display:inline;" ng-submit="itemSync(item)">
                                <input type="submit" tabindex="-1" 
                                  style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

                                <div class="input-prepend input-append">
                                  <span class="add-on ">
                                    รหัส
                                    <a class="badge badge-info"
                                      ng-show="item.$temp.data._name" 
                                      ng-href="{{'#/products/view/\''+item.$temp.data._name}}"
                                      target="_blank"
                                      >i</a>
                                  </span>
                                  <input type="text" class="input-medium" 
                                    ng-disabled="resource.info.approved"
                                    ng-model="item.name" />
                                  <span class="add-on btn btn-small"
                                    ng-disabled="resource.info.approved"
                                    ng-class="!isSynced(item) && 'btn-info'"
                                    ng-click="itemSync(item,true)"
                                    >
                                    &crarr;
                                  </span>
                                </div>
                              </form>

                              <span ng-hide="resource._type=='คืน'" 
                                class="control-group " ng-class="prohibitPrice(item) && 'error'">
                                <div class="input-prepend control" >
                                  <span class="add-on">ราคา</span>
                                  <input type="text" class="input-medium" 
                                    ng-disabled="resource.info.approved"
                                    ng-model="item.price"
                                    ng-blur="prohibitPrice(item,!authorizeData.user.hasRole('MANAGER','ADMIN'))"
                                    numeral="'money'" 
                                     />
                                </div>
                                <span class="help-inline"
                                  ng-show="prohibitPrice(item)">
                                  *ผิด*
                                </span>
                              </span>

                            </div>
                          </div>

                          <div>
                            <textarea rows="1" class="input-xxlarge" placeholder="บันทึก" 
                              ng-disabled="resource.info.approved"
                              ng-model="item.note"
                              ></textarea>
                          </div>
                          <div class="text-error">
                            {{ item.$temp.data.error }}
                          </div>
                          <div>
                            <span class="label" style="margin-right: 4px;" 
                              ng-class="(item.$temp.data.state=='sold' && 'label-important') || 'label-info'"
                              ng-show="item.$temp.data.state">
                              {{ item.$temp.data.state}}
                            </span>

                            {{ item.$temp.data.info.detail }}
                          </div>

                        </div>

                        <div ng-show="resource._type!='คืน' && authorizeData.user.hasRole('MANAGER','ADMIN')"> 
                          <div style="margin:2px 0;">
                            <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.target_price">
                              ราคาตั้งขาย
                              <button class="btn btn-small"  tabindex="-1" 
                                ng-disabled="resource.info.approved"
                                ng-click="item.price= item.$temp.data.info.target_price"
                                >
                                  {{ utils.formatValue(item.$temp.data.info.target_price) }}
                                </button>
                            </span>
                            <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.taking_price">
                              ราคาตั้งยืม
                              <button class="btn btn-small"  tabindex="-1" 
                                ng-disabled="resource.info.approved"
                                ng-click="item.price= item.$temp.data.info.taking_price"
                                >
                                  {{ utils.formatValue(item.$temp.data.info.taking_price) }}
                                </button>
                            </span>
                            <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.lowest_price">
                              ราคาประเมิน
                              <button class="btn btn-small"  tabindex="-1" 
                                ng-disabled="resource.info.approved"
                                ng-click="item.price= item.$temp.data.info.lowest_price"
                                >
                                  {{ utils.formatValue(item.$temp.data.info.lowest_price) }}
                                </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row-fluid" style="margin-bottom:1em;" ng-show="items().length">
                <span ng-hide="resource.info.approved">
                  <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(items())">เพิ่ม</a>
                </span>
                <span class="alert alert-info" ng-show="items().length">
                  รายการ{{resource._type}} {{ items().length }} รายการ 
                  <strong ng-show="utils.sum(items(),'price')">
                    {{utils.sum(items(),'price') | numeral}} บาท
                  </strong>                  
                </span>
            </div>

          </div><!-- /tab -->

          <div class="container-fluid" ng-show="__tabIdx==2" heading="ค้างยืม">
            <div class="row-fluid">
                <span ng-hide="resource.info.approved">
                  <form style="margin:0;padding:0;display:inline;" ng-submit="resource._type!='ยืม' && takenSelect(true)">
                    <input type="submit" tabindex="-1" 
                      style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    <span class="input-prepend" style="padding-top:8px;" ng-class="canSelect() && 'input-append'">
                      <span class="add-on">ใส่รหัส</span>
                      <input type="text" class="input-medium" 
                        ng-model="selectName" />
                      <span class="add-on btn btn-small btn-info" 
                        ng-show="resource._type!='ยืม' && canSelect()"
                        ng-click="takenSelect()"
                        >
                        &crarr;
                      </span>
                    </span>
                  </form>
                </span>
            </div>
            <div>
              <ul class="nav nav-tabs" ng-show="resource._type!='ยืม'">
                <li ng-class="__takenIdx==1 && 'active'">
                  <a href ng-click="__takenIdx=1">
                    [ ค้างยืม {{ unselectedItems().length }} รายการ  
                    <strong ng-show="utils.sum(unselectedItems(),'price')">
                      {{utils.sum(unselectedItems(),'price') | numeral}} บาท
                    </strong> ]
                  </a>
                </li>
                <li ng-class="__takenIdx==2 && 'active'">
                  <a href ng-click="__takenIdx=2">
                    [ ตัดยืม {{ selectedItems().length }} รายการ  
                    <strong ng-show="utils.sum(selectedItems(),'price')">
                      {{utils.sum(selectedItems(),'price') | numeral}} บาท
                    </strong> ]
                  </a>
                </li>
                <li ng-class="!__takenIdx && 'active'">
                  <a href ng-click="__takenIdx=0">
                    [ รวมกัน {{ takenItems().length }} รายการ  
                    <strong ng-show="utils.sum(takenItems(),'price')">
                      {{utils.sum(takenItems(),'price') | numeral}} บาท
                    </strong> ]
                  </a>
                </li>
              </ul>
            </div>
            <div class="row-fluid">
              <div ng-show="takenItems().length">

                <div class="alert">
                  <div ng-repeat="item in takenItems() | filter:selectName"  
                    ng-show="!__takenIdx || (__takenIdx==1 && !item.selected) || (__takenIdx==2 && item.selected)"
                    ng-class="item.selected && 'alert-info'"
                    >
                    <div class="media" style="margin:4px;">
                      <div class="media-object pull-right span2" 
                        ng-show="item.$temp.data.meta.images[0].thumbnailLink"
                        >
                        <span style="padding:4px;">
                          <img class="img-polariod" ng-src="{{ item.$temp.data.meta.images[0].thumbnailLink }}" />
                        </span>
                      </div>
                      <div>
                        <div>
                          <div class="input-append" ng-show="resource._type!='ยืม'">
                            <label class="checkbox"> 
                              <input type="checkbox" 
                                ng-disabled="resource.info.approved"
                                ng-model="item.selected" />
                            </label>
                          </div>
                          <div class="input-prepend">
                            <span class="add-on">
                              รหัส
                              <a class="badge badge-info"
                                ng-show="item.$temp.data._name" 
                                ng-href="{{'#/products/view/\''+item.$temp.data._name}}"
                                target="_blank"
                                >i</a>
                            </span>
                            <input type="text" class="input-medium" 
                              disabled
                              ng-model="item.name" />
                          </div>

                          <div class="input-prepend" ng-class="priceUnsaved(item) && 'input-append'">
                            <span class="add-on">ราคา</span>
                            <input type="text" class="input-medium" 
                              disabled
                              ng-model="item.price"
                              numeral="'money'" 
                               />
                          </div>

                          <div class="input-prepend">
                            <span style="padding:0 1em;" ng-show="item.$temp.data.info.taking.date">
                              วันที่ยืม: {{ item.$temp.data.info.taking.date | moment }}
                            </span>
                          </div>
                        </div>

                        <div>
                          <span class="label" style="margin-right: 4px;" 
                            ng-class="(item.$temp.data.state=='sold' && 'label-important') || 'label-info'"
                            ng-show="item.$temp.data.state">
                            {{ item.$temp.data.state}}
                          </span>
                           {{item.$temp.data.info.detail}}
                        </div>
                      </div>
                    </div>
                  <hr />
                  </div>
                </div>
                <hr />
              </div>
            </div>
          </div><!-- /tab -->

        </div>


        <div ng-include="'views/includes/edit-footer.html'"> </div>
    
  </div>