
<div ng-init="useItems = useItems || items()">
  <div ng-repeat="__page in itemPages(10,useItems)">
    <div><hr class="no-print" ng-hide="__page==1" /></div>
    <div class="paragraph">
      <div>
        <div class="pull-right" style="width:1.5in;">
          <strong>{{ resource._name }}</strong>
        </div>
        <h3 class="text-center">
          {{ useTitle || resource._type }}
        </h3>
      </div>
      <div>
        <div>
          <div class="pull-right" style="width:1.5in;">
            {{ resource.info.issue_date | moment:'DD/MM/YYYY' }}
          </div>
          {{ resource.info.person.name }}
        </div>
        <div ng-show="__page==1">
         {{ resource.info.person.address }}
        </div>
      </div>
    </div>

    <table class="voucher">
    <thead>
      <tr>
      <th>ที่</th><th>รูป</th><th>รายการ</th><th>น.น.</th><th>ราคา</th>
      </tr>
    </thead>
    <tbody ng-init="__items = itemIndexes(__page,10, useItems)">
      <tr ng-repeat="item in __items">
        <td class="center wid1">
          {{ ((__page-1)*10) + $index+1 }}
        </td>
        <td class="center wid3">
          <div class="thumbnail" ng-show="item.$temp.data.meta.images[0].thumbnailLink">
            <img class="img-polariod" ng-src="{{ item.$temp.data.meta.images[0].thumbnailLink }}" />
          </div>
        </td>
        <td>
          <div>
            <div class="pull-right" ng-show="(item.$temp.data.state=='taken')">
              <span ng-class="'label'">
                {{ utils.formatValue(item.$temp.data.info.taking.date) || '*ค้างยืม*' }}
              </span>
            </div>      
            <strong>{{item.name}}</strong>
            <small ng-show="item.$temp.data.info.watch.model">[ {{item.$temp.data.info.watch.model}} ]</small>
            <small ng-show="item.$temp.data.info.serial">[ {{item.$temp.data.info.serial}} ]</small>
            <div style="word-break:break-all;">{{ item.$temp.data.info.detail }}</div>
          </div>
        </td>
        <td class="center wid2">
          <div style="word-break:break-all;">{{ item.$temp.data.info.weight }}</div>
        </td>
        <td class="right wid3">
          {{ item.price || item.$temp.data.info.taking.price | numeral}}
        </td>
      </tr>
      <tr class="foot" ng-show="isLastPage(__page, 10, useItems)">
        <td class="center" colspan="3">
          {{ utils.sum(useItems,'price') | numeral:'bahttext'}}

        </td>
        <td class="center">
          รวม
        </td>
        <td class="right">
          {{ utils.sum(useItems,'price') | numeral }}
        </td>
      </tr>
    </tbody>
    </table>

    <p>
      <div class="pull-right">
        <small>{{ resource.info.approved }} {{__page }} / {{itemPages(10,useItems).length}}</small>
      </div>
      ลงชื่อ :
    </p>
    <div 
      ng-show="resource._type=='ยืม' && isLastPage(__page,10, useItems) && unselectedItems().length && items().length">
          <div>
            รายการใหม่({{ items().length }} รายการ) [{{ utils.sum(items(),'price') | numeral }} บาท]
            +
            ค้างยืมเดิม({{ unselectedItems().length }} รายการ) [{{ utils.sum(unselectedItems(),'price') | numeral }} บาท]
          </div>
          <div>
            <strong>
            รวมสุทธิ
            ({{ items().length + unselectedItems().length }} รายการ)
            [{{ utils.sum(items(),'price') + utils.sum(unselectedItems(),'price') | numeral }} บาท]
            </strong>
          </div>
    </div>
    <div class="page-break"></div>
  </div>
</div>