  <div class="container-fluid" ng-init="typeaheadWait=50">

        <div class="editnav-top" ng-include="'views/includes/edit-buttons.html'"> </div>

        <div class="row-fluid">
            <h2>
              {{resource._type || db.title}}
              <button tabindex="-1" class="btn btn-inverse" 
                ng-show="!unlockEdit && authorizeData.user.roles.has('ADMIN','DEVELOPER')" 
                ng-click="unlockEdit = !unlockEdit">
                Unlock
              </button>
              <button tabindex="-1" class="btn" title="{{resource.info.approved || ''}}"
                ng-class="resource.info.approved && 'btn-success'" 
                ng-show="authorizeData.user.roles.has('MANAGER','ADMIN','DEVELOPER')" 
                ng-click="resource.info.approved = !resource.info.approved && authorizeData.user.email">
                {{ ((resource.info.approved && '&radic; Approved') || 'Approve') }}
              </button>
            </h2>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <label>ประเภท : </label>
            <select class="input-medium"
              ng-disabled = "!unlockEdit"
              ng-model  ="resource._type" 
              ng-options="c.name as c.name for c in db.database.BUILT_IN.voucherTypes"
              ng-change  ="voucher_type_change()"
            ></select>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span4">
            <label>วันที่ :</label>
            <input type="text" class="input-medium" 
              ng-disabled = "resource.info.approved"
              ng-model="resource.info.issue_date" 
              moment="'DD/MM/**BB'"
              boot-datepicker="{language: 'th-th'}"
              />
          </div>

          <div class="span4">
            <label>
              เลขที่ : 
            </label>
            <input type="text" class="input-medium" 
              ng-disabled = "!unlockEdit"
              ng-model="resource._name" />
          </div>
        </div>

        <div class="row-fluid"> <!-- body -->
          <ul class="nav nav-tabs">
            <li ng-class="!__tabIdx && 'active'">
              <a href ng-click="__tabIdx=0">
                ผู้เกี่ยวข้อง</a></li>
            <li ng-class="__tabIdx==1 && 'active'">
              <a href ng-click="__tabIdx=1">
                รายการ</a></li>
          </ul>

          <div ng-show="!__tabIdx">

            <div class="row-fluid">
                <label>
                  ชื่อ :
                </label>
                  <div class="input-append">
                    <form style="margin:0" ng-submit="personSync(person())">
                      <div style="height:0; width:0; overflow:hidden;">
                        <input tabindex="-1" type="submit" />
                      </div>
                      <input type="text" class="input-large" 
                        ng-disabled="resource.info.approved"
                        ng-model="person().name" 
                        typeahead="itm for itm in selfList('Person/_name', $viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                      <span class="add-on btn" 
                        ng-disabled="resource.info.approved"
                        ng-class="!isSynced(person()) && 'btn-info'"
                        ng-click="personSync(person(),true)"
                        >
                        &crarr;
                      </span>
                  </form>
                  </div>

            </div>

            <div class="row-fluid">
                <label>ที่อยู่ :</label>
                <div>
                  <div class=""ng-show="person().$temp.data.meta.locations.length > 1">
                    <ul class="nav nav-pills"  style="margin:0;" >
                      <li 
                        ng-repeat="loc in person().$temp.data.meta.locations"
                        ng-class="(loc2Address(loc)==person().address)&&'active'">
                        <a href ng-click="person().address = loc2Address(loc)">
                          {{ loc.type || ($index +1) }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div ng-class="(person().$temp.data.meta.locations.length > 1) && 'input-append'">
                    <textarea rows="2.5" class="input-xxlarge" placeholder="" 
                      ng-model="person().address" 
                      ></textarea>
                  </div>
                </div>
                <label>ส่งของ :</label>
                <div>
                  <div>
                      <input type="text" class="input-xxlarge" 
                        ng-model="person().shipping" 
                        />
                  </div>
                </div>
            </div>

            <div ng-show="resource._type=='ยืม' && takenItems().length">
              <div class="row-fluid">
                <div>
                  <label>
                    <span class="label label-warning">
                      ค้างยืมรวม {{ takenItems().length }} รายการ  {{utils.sum(takenItems(),'price') | numeral}} บาท
                      <a href class="btn btn-small" ng-click="__hideTaking = !__hideTaking">
                        {{ (__hideTaking && 'แสดง') || 'ซ่อน' }}
                      </a>
                    </span>
                  </label>
                  <div ng-hide="__hideTaking">
                    <div class="alert" ng-repeat="item in takenItems()">
                      <div class="media">
                        <div class="media-object pull-right span2" 
                          ng-show="item.$temp.data.meta.images[0].thumbnailLink"
                          >
                          <span style="margin:4px;">
                            <img class="img-polariod" ng-src="{{ item.$temp.data.meta.images[0].thumbnailLink }}" />
                          </span>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">
                            <span class="label">{{ $index+1 }}</span> {{ item.name }}
                            <small>
                              <span style="padding:0 1em;;" ng-show="item.$temp.data.info.taking.date">
                                วันที่ยืม: {{ item.$temp.data.info.taking.date | moment }}</span>
                              <span style="padding:0 1em;" ng-show="item.$temp.data.info.weight">
                                น้ำหนัก: {{ item.$temp.data.info.weight }}</span>

                              <div class="input-prepend">
                                <span class="add-on">ราคา</span>
                                <input type="text" class="input-medium" 
                                  ng-disabled="resource.info.approved || !authorizeData.user.roles.has('MANAGER','ADMIN')"
                                  ng-model="item.price"
                                  numeral="'money'" 
                                   />
                              </div>
                            </small>
                          </h4>
                          <div>
                            <span class="label" style="margin-right: 4px;" 
                              ng-class="(item.$temp.data.state=='sold' && 'label-important') || 'label-info'"
                              ng-show="item.$temp.data.state">
                              {{ item.$temp.data.state}}
                            </span>
                             {{item.$temp.data.info.detail}}
                          </div>
                          <div ng-show="authorizeData.user.roles.has('MANAGER','ADMIN')"> 
                            <div style="margin:2px 0;">
                              <textarea rows="1" class="input-xlarge" placeholder="หมายเหตุ" ng-show="item.name && item.$temp.synced"
                                ng-model="item.remark">
                              </textarea>
                            </div>
                            <div style="margin:2px 0;">
                              <span class="label" style="margin-right:4px;" ng-show="item.$temp.data.info.target_price">
                                ราคาตั้งขาย
                                <button class="btn btn-small"  tabindex="-1" 
                                  ng-disabled="resource.info.approved"
                                  ng-click="item.price= item.$temp.data.info.target_price"
                                  >
                                    {{ utils.formatValue(item.$temp.data.info.target_price) }}
                                  </button>
                              </span>
                              <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.taking_price">
                                ราคาตั้งยืม
                                <button class="btn btn-small"  tabindex="-1" 
                                  ng-disabled="resource.info.approved"
                                  ng-click="item.price= item.$temp.data.info.taking_price"
                                  >
                                    {{ utils.formatValue(item.$temp.data.info.taking_price) }}
                                  </button>
                              </span>
                              <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.lowest_price">
                                ราคาประเมิน
                                <button class="btn btn-small"  tabindex="-1" 
                                  ng-disabled="resource.info.approved"
                                  ng-click="item.price= item.$temp.data.info.lowest_price"
                                  >
                                    {{ utils.formatValue(item.$temp.data.info.lowest_price) }}
                                  </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!--/tab-->

          <div ng-show="__tabIdx==1">
            <div>
              <label>
                รวม {{ items().length }} รายการ  
                <span ng-hide="resource.info.approved">
                  <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(items())">เพิ่ม</a>
                </span>
              </label>
            </div>

            <div class="alert alert-info" ng-show="items().length">
              <div ng-repeat="item in items()">
                <hr ng-show="$index" />
                <div>
                  <div class="pull-right" style="padding:0 1em;" 
                    ng-hide="resource.info.approved">
                    <a tabindex="-1" class="btn btn-small btn-warning" href 
                      ng-click="resource$entry.remove(items(),$index)"
                      >
                      ลบ
                      </a>
                  </div>
                  <div class="media">
                    <div class="media-object pull-right span2" 
                      ng-show="item.$temp.data.meta.images[0].thumbnailLink"
                      >
                      <span style="margin:4px;">
                        <img class="img-polariod" ng-src="{{ item.$temp.data.meta.images[0].thumbnailLink }}" />
                      </span>
                    </div>

                    <div>
                      <div>
                        <form style="margin:0" ng-submit="itemSync(item)">
                          <div style="height:0; width:0; overflow:hidden;">
                            <input tabindex="-1" type="submit" />
                          </div>
                          <div>
                            <div>
                              <div class="input-append">
                                <span class="label" style="margin-right:2px;">
                                  {{ $index + 1 }}
                                </span>
                              </div>
                              <div class="input-prepend input-append">
                                <span class="add-on">รหัส</span>
                                <input type="text" class="input-medium" 
                                  ng-disabled="resource.info.approved"
                                  ng-model="item.name" />
                                <span class="add-on btn btn-small" 
                                  ng-disabled="resource.info.approved"
                                  ng-class="!isSynced(item) && 'btn-info'"
                                  ng-click="itemSync(item,true)"
                                  >
                                  &crarr;
                                  </span>
                              </div>
                              <div class="input-prepend" ng-show="resource._type=='ซื้อ'">
                                <span class="add-on">น้ำหนัก</span>
                                <input type="text" class="input-small" 
                                  ng-model="item.weight"
                                   />
                              </div>
                              <div class="input-prepend">
                                <span class="add-on">ราคา</span>
                                <input type="text" class="input-medium" 
                                  ng-disabled="resource.info.approved"
                                  ng-model="item.price"
                                  numeral="'money'" 
                                   />
                              </div>
                            </div>
                          </div>
                        </form>

                        <div class="text-error">
                          {{ item.$temp.data.error }}
                        </div>
                        <div>
                          <span class="label" style="margin-right: 4px;" 
                            ng-class="(item.$temp.data.state=='sold' && 'label-important') || 'label-info'"
                            ng-show="item.$temp.data.state">
                            {{ item.$temp.data.state}}
                          </span>

                          {{ item.$temp.data.info.detail }}
                        </div>

                      </div>

                      <div ng-show="authorizeData.user.roles.has('MANAGER','ADMIN')"> 
                        <div style="margin:2px 0;">
                          <textarea rows="1" class="input-xlarge" placeholder="หมายเหตุ" ng-show="item.name && item.$temp.synced"
                            ng-model="item.remark">
                          </textarea>
                        </div>
                        <div style="margin:2px 0;">
                          <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.target_price">
                            ราคาตั้งขาย
                            <button class="btn btn-small"  tabindex="-1" 
                              ng-disabled="resource.info.approved"
                              ng-click="item.price= item.$temp.data.info.target_price"
                              >
                                {{ utils.formatValue(item.$temp.data.info.target_price) }}
                              </button>
                          </span>
                          <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.taking_price">
                            ราคาตั้งยืม
                            <button class="btn btn-small"  tabindex="-1" 
                              ng-disabled="resource.info.approved"
                              ng-click="item.price= item.$temp.data.info.taking_price"
                              >
                                {{ utils.formatValue(item.$temp.data.info.taking_price) }}
                              </button>
                          </span>
                          <span class="label" style="margin-right: 4px;" ng-show="item.$temp.data.info.lowest_price">
                            ราคาประเมิน
                            <button class="btn btn-small"  tabindex="-1" 
                              ng-disabled="resource.info.approved"
                              ng-click="item.price= item.$temp.data.info.lowest_price"
                              >
                                {{ utils.formatValue(item.$temp.data.info.lowest_price) }}
                              </button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label>
                รวม {{ items().length }} รายการ  
                <span ng-hide="resource.info.approved">
                  <a href="" class="btn btn-small btn-danger" ng-click="resource$entry.add(items())">เพิ่ม</a>
                </span>
              </label>
            </div>
          </div><!-- /tab -->

        </div>


        <!-- save/delete/cancel buttons -->
        <div class="editnav-bottom" ng-include="'views/includes/edit-buttons.html'"></div>
        
        <div class="row-fluid"> <!-- footer -->
            <div style="width=100%;height:60px;"></div> <!-- reserved foot space -->
        </div>

  </div>