
  <h5>ข้อ 4. ข้อสัญญาของผู้เช่า</h5>
  <p>
    4.1 เพื่อความเป็นระบียบเรียบร้อย และความปลอดภัยสำหรับการประกอบการในสถานที่เช่าโดยส่วนรวม ผู้เช่ายินดีที่จะปฏิบัติตามระเบียบ กฎ ข้อบังคับ ประกาศหรือคำสั่งใดๆ ที่ผู้ให้เช่าได้ออก หรือได้ประกาศให้ทราบโดยทั่วกัน ผู้เช่าสัญญาว่าเมื่อเปิดดำเนินกิจการแล้ว ผู้เช่าจะเปิดดำเนินการตามกำหนดเวลาที่ผู้ให้เช่ากำหนด โดยเปิดทำการทุกวัน สัปดาห์ละ 7 วัน ตั้งแต่เวลา 10.00 น. ถึงเวลา 22.00 น. หากผู้เช่าเปิด-ปิดกิจการ ไม่ครบตามวันและเวลาที่กำหนด ผู้เช่าตกลงเสียค่าปรับแก่ผู้ให้เช่า ในอัตราวันละ 500 บาท/ตารางเมตร (ห้าร้อยบาทถ้วนต่อตารางเมตร) และผู้ให้เช่ามีสิทธิบอกเลิกสัญญาเช่าได้
  </p>
  <p>
    4.2 ผู้เช่าสัญญาว่าตลอดระยะเวลาการเช่า ผู้เช่าจะทำสัญญาจ้างบริการกับผู้ให้เช่าหรือบุคคลหรือนิติบุคคลที่ผู้ให้เช่ากำหนด และสัญญาจ้างบริการดังกล่าวให้ถือเป็นส่วนหนึ่งของสัญญาเช่าฉบับนี้
  </p>
  <p>
    ถ้าผู้เช่าผิดนัดไม่ชำระค่าเช่า, ค่าใช้จ่าย หรือไม่ชำระค่าบริการตามสัญญาจ้างบริการ หรือไม่ปฏิบัติตามสัญญานี้ในข้อหนึ่งข้อใดให้ถือว่าผู้เช่าผิดสัญญา ผู้ให้เช่ามีสิทธิบอกเลิกสัญญาเช่าและสัญญาจ้างบริการได้ทันที และผู้ให้เช่ามีสิทธิเข้าครอบครองสถานที่เช่า โดยผู้เช่าจะไม่โต้แย้งและไม่เรียกร้องค่าเสียหายใดๆ ทั้งสิ้น
  </p>
  <p>
    4.3 ผู้เช่าสัญญาว่า ผู้เช่าจะไม่โอนสิทธิการเช่าในสถานที่เช่านี้ หรือนำสถานที่เช่าทั้งหมดหรือบางส่วนไปให้บุคคลอื่นเช่าช่วง หรือยินยอมให้บุคคลอื่นเข้าครอบครองหรือใช้ประโยชน์แทนไม่ว่าเป็นการประจำหรือชั่วคราว เว้นแต่จะได้รับความยินยอมเป็นลายลักษณ์อักษรจากผู้ให้เช่า
  </p>
  <p>
    หากผู้เช่าโอนสิทธิการเช่าตามสัญญานี้โดยได้รับความยินยอมเป็นลายลักษณ์อักษรจากผู้ให้เช่าแล้ว ผู้เช่าในฐานะผู้โอนสิทธิต้องเสียค่าธรรมเนียมการโอนแก่ผู้ให้เช่าในอัตรา 3,000 บาท/ตารางเมตร แต่ทั้งนี้ค่าธรรมเนียมสูงสุดไม่เกิน 200,000 บาท/สัญญา (สองแสนบาทถ้วนต่อสัญญา)
  </p>
  <p>
    4.4 ผู้เช่าจะไม่ใช้สถานที่เช่านี้เป็นที่อยู่อาศัย หรืออนุญาต หรือยินยอมให้บุคคลหนึ่งบุคคลใดเข้าอยู่อาศัยในสถานที่เช่านี้ ผู้ให้เช่าสงวนสิทธิที่จะห้ามมิให้บุคคลหนึ่งบุคคลใด ไม่ว่าจะเป็นลูกจ้าง หรือบริวาร หรือลูกค้าของผู้เช่า เข้าไปภายในสถานที่เช่า หรือ ให้ออกไปจากสถานที่เช่า เมื่อผู้ให้เช่าพิจารณาเห็นว่าบุคคลเหล่านั้นเป็นผู้ที่ประพฤติตนไม่เหมาะสม โดยผู้เช่าไม่มีสิทธิโต้แย้งไม่ว่ากรณีใดๆ ทั้งสิ้น และผู้เช่าจะไม่ประกอบอาหาร หรืออนุญาตให้บุคคลหนึ่งบุคคลใด ประกอบอาหารในสถานที่เช่าโดยเด็ดขาด
  </p>
  <p>
    สำหรับในกรณีที่ผู้เช่าได้รับอนุญาตจากผู้ให้เช่าให้เข้าประกอบกิจการประเภทร้านอาหาร ผู้เช่าจะต้องจัดให้มีเครื่องอุปกรณ์กำจัดกลิ่น ควัน อุปกรณ์ดักและกำจัดไขมันและอุปกรณ์ดับเพลิง พร้อมทั้งต้องดูแลรักษาความสะอาดของร้านให้ถูกลักษณะ ตามระเบียบของทางราชการและของผู้ให้เช่าอยู่เสมอ
  </p>
