  <div
    ng-init="_params={ title : '*', subTitle: '*', code: '*' }"
    ng-class="(resource._type=='บันทึก') 
      && (_params.contractCalled = 'บันทึกข้อตกลง') 
      && (_params.term='บันทึกแนบท้าย') 
      && '' "
    >

    <div ng-include="'views/tvs/contract-print/params.html'"></div>

    <div ng-class="!printForm && 'muted'" ng-show="custom().title_section">
      <div ng-include="'views/tvs/contract-print/tof.html'"></div>
    </div>

    <div ng-class="!printForm && 'muted'" ng-show="custom().head_section">
      <div class="paragraph">
        <div ng-include="'views/tvs/contract-print/head.html'"></div>
      </div>
    </div>
    <div ng-class="!printForm && 'muted'" ng-show="custom().parties_section">
      <div class="paragraph">
        <div ng-include="'views/tvs/contract-print/parties.html'"></div>
      </div>
    </div>

    <div class="alert" ng-show="__mdOpen">
      <button type="button" class="close" ng-click="__mdOpen=false">&times;</button>
      <textarea rows="{{ utils.textLines(custom().text).length + 3 }}" class="span12"
        ng-model="custom().text" 
        >
      </textarea>
    </div>

    <div class="paragraph">
      <div markdown-bind="custom().text" on-make-html="printForm && makeHtml()"></div>
    </div>

    <div ng-class="!printForm && 'muted'" ng-show="custom().foot_section">
      <div class="paragraph">
        <div ng-include="'views/tvs/contract-print/foot.html'"></div>
      </div>
    </div>
  </div>
