<div class="page-header-right first-page">
สัญญาที่ บ.ธญพ. <strong>{{ resource._name }}</strong>
<div class="no-screen"><small>หน้าที่ 1/5</small></div>
</div>

<h4 style="clear:both;text-align:center;">
สัญญาจ้างบริการในสถานที่เช่า
</h4>
<div class="paragraph-center">
สัญญานี้ทำขึ้นเมื่อวันที่ <strong>{{ resource.info.issue_date | moment:'thaitext' }}</strong>
</div>
<div class="paragraph-center">
ระหว่าง
</div>
<div class="paragraph">
บริษัท ธัญวิลล์ จำกัด โดย นางสุนันทา สมบุญธรรม กรรมการผู้รับมอบอำนาจกระทำการแทนบริษัท สำนักงานเลขที่ 52 อาคารธนิยะพลาซา ชั้น 9 เอ็ม ถนนสีลม แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร ซึ่งต่อไปในสัญญานี้จะเรียกว่า “บริษัท” หรือ “ผู้ให้เช่า” ฝ่ายหนึ่ง
</div>
<div class="paragraph">
กับ
</div>
<div class="paragraph" ng-show="tenants().length==1">
  <strong>{{ resource.display.tenant }}</strong> ซึ่งต่อไปในสัญญานี้จะเรียกว่า "ผู้เช่า" อีกฝ่ายหนึ่ง
</div>
<div class="paragraph" style="white-space:pre-wrap;" ng-show="tenants().length &gt; 1"><strong>{{ resource.display.tenant }}</strong>
<div class="paragraph">ซึ่งต่อไปในสัญญานี้จะเรียกว่า "ผู้รับบริการ" หรือ "ผู้เช่า" อีกฝ่ายหนึ่ง</div></div>
<div class="paragraph">
โดยที่ผู้รับบริการ ได้เข้าทำสัญญาเช่าสถานที่ในโครงการธัญญะ ช็อปปิ้ง พาร์ค กับผู้ให้เช่า ตามสัญญาเช่า <strong>{{ resource.display.area }}</strong> สัญญาเลขที่ ช.ธญพ. <strong>{{ resource._name }}</strong> ลงวันที่ <strong>{{ resource.info.issue_date | moment:'thaitext' }}</strong> และยินยอมตกลงรับบริการต่างๆ เกี่ยวกับสถานที่เช่าจากบริษัท หรือผู้ให้เช่า
</div>
<div class="paragraph">
ทั้งสองฝ่ายจึงตกลงทำสัญญาฉบับนี้ ซึ่งคู่สัญญาให้ถือเป็นส่วนหนึ่งของสัญญาเช่าสถานที่ดังกล่าวข้างต้นด้วย ทั้งสองฝ่ายได้ตกลงกันดังต่อไปนี้
</div>
<div class="paragraph">
ข้อ 1. ขอบเขตของการบริการโดยทั่วไป
</div>
<div class="paragraph">
บริษัทตกลงจะจัดบริการในพื้นที่ส่วนกลางให้แก่ผู้รับบริการ โดยผู้รับบริการจะต้องชำระเงินส่วนเฉลี่ยค่าใช้จ่ายเกี่ยวกับค่าบริการต่างๆ ล่วงหน้าเป็นรายเดือนให้แก่บริษัท เพื่อตอบแทนการบริการต่างๆ ภายในโครงการ ได้แก่
</div>
<div class="paragraph">
<span class="paragraph">1.1&nbsp;บริการเกี่ยวกับระบบแสงสว่าง</span>
<span class="paragraph">1.2&nbsp;บริการเกี่ยวกับลิฟท์และบันไดเลื่อนภายในโครงการ</span>
<span class="paragraph">1.3&nbsp;บริการเกี่ยวกับการทำความสะอาด</span>
<span class="paragraph">1.4&nbsp;บริการเกี่ยวกับการรักษาความปลอดภัย โดยจะจัดให้มียามรักษาการณ์ เพื่อดูแลรักษาความปลอดภัยบริเวณต่างๆ และส่วนที่ใช้ร่วมกันภายในโครงการ</span>
<span class="paragraph">1.5&nbsp;บริการเกี่ยวกับการบำรุงรักษา และจัดให้มีซึ่งอุปกรณ์การดับเพลิง </span>
<span class="paragraph">1.6&nbsp;บริการเกี่ยวกับการบำรุงรักษาและดูแล สวน ไม้ดอกไม้ประดับ ต้นไม้ บริเวณสถานที่สาธารณะภายในโครงการ</span>
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ บ.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 2/5</small></div>
</div>
</div>
<div class="paragraph">
ข้อ 2. อัตราและการชำระค่าบริการ
</div>
<div class="paragraph">
บริษัทจะคิดค่าบริการดังกล่าวข้างต้นในข้อ 1. จากผู้รับบริการ ไม่ว่าผู้รับบริการจะได้เปิดดำเนินธุรกิจในวันใดหรือไม่ก็ตาม โดยชำระล่วงหน้าเป็นรายเดือนภายในวันที่ 5 ของทุกเดือน เป็นจำนวนเงินเดือนละ <strong>{{ service_rates()[0].value | numeral }}</strong> บาท <strong>({{ service_rates()[0].value | numeral:'bahttext' }})</strong> ซึ่งเป็นอัตราที่ยังไม่รวมภาษีมูลค่าเพิ่ม และผู้รับบริการ/ผู้เช่า เป็นผู้ชำระค่าภาษีมูลค่าเพิ่ม
</div>
<div class="paragraph">
<table>
<tr >
<th style="border:thin solid;">ประเภทของอาคาร</th><th style="border:thin solid;">อัตราค่าบริการ (บาท/ตารางเมตร/เดือน)</th>
</tr>
<tr>
<td style="border:thin solid;padding-right:1em;">อาคารที่ไม่มีระบบปรับอากาศในส่วนกลาง</td><td style="border:thin solid;padding-right:1em;">220.-</td>
</tr>
<tr>
<td style="border:thin solid;padding-right:1em;">อาคารที่มีระบบปรับอากาศในส่วนกลาง</td><td style="border:thin solid;padding-right:1em;">220.- บวกค่าบริการระบบปรับอากาศส่วนกลาง</td>
</tr>
<tr>
<td colspan="2" style="border:thin solid;padding-right:1em;">
หมายเหตุ : ค่าบริการระบบปรับอากาศส่วนกลางจะแจ้งให้ผู้รับบริการ/ผู้เช่าทราบในภายหลัง
</td>
</tr>
</table>
</div>
<div class="paragraph">
ในกรณีที่ผู้รับบริการ ไม่ชำระเงินตามที่กล่าวข้างต้นภายในกำหนด ผู้รับบริการยินยอมเสียค่าปรับเป็นค่าเสียหาย ในอัตราร้อยละ 0.5 ต่อวันของเงินที่ค้างชำระ จนกว่าจะชำระครบถ้วน แต่การที่ชำระค่าเสียหายดังกล่าว จะไม่เป็นเหตุให้ถือเป็นข้ออ้างว่าผู้รับบริการมิได้ผิดสัญญาแต่อย่างใด
</div>
<div class="paragraph">
ผู้รับบริการไม่ต้องชำระค่าบริการ ในระยะเวลาที่ตกแต่งสถานที่เช่า นับตั้งแต่วันที่ <strong>{{ resource.info.decorate_date | moment:'thaitext'}}</strong> ถึงวันที่ <strong>{{ resource.info.decorate_until | moment:'thaitext'}}</strong>
</div>
<div class="paragraph">
สัญญาจ้างบริการเริ่มตั้งแต่วันที่ <strong>{{ resource.info.rent_date | moment:'thaitext'}}</strong> ถึงวันที่ <strong>{{ resource.info.rent_until | moment:'thaitext'}}</strong>
</div>
<div class="paragraph">
ผู้รับบริการเริ่มชำระค่าบริการ ตั้งแต่วันที่ <strong>{{ resource.info.pay_date | moment:'thaitext'}}</strong> ถึงวันที่ <strong>{{ resource.info.pay_until | moment:'thaitext'}}</strong>
</div>
<div class="paragraph">
ข้อ 3. กำหนดเวลาของสัญญา
</div>
<div class="paragraph">
คู่สัญญาตกลงกันว่า สัญญาจ้างบริการนี้มีกำหนดเวลาเท่ากันกับสัญญาเช่าสถานที่ในโครงการ ธัญญะ ช็อปปิ้ง พาร์ค เมื่อสัญญาเช่าสิ้นสุดลงให้สัญญาจ้างบริการนี้สิ้นสุดลงด้วย
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ บ.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 3/5</small></div>
</div>
</div>
<div class="paragraph">
ข้อ 4. การปรับปรุงค่าบริการ
</div>
<div class="paragraph">
อัตราค่าบริการตามที่ปรากฏในสัญญานี้ ผู้รับบริการยินยอมเสียค่าบริการเพิ่มขึ้น เพื่อให้สอดคล้องกับอัตราค่าแรงงาน ค่าครองชีพ ค่าน้ำ ค่าไฟ ค่าแก๊ส และค่าใช้จ่ายอื่นๆ ที่เพิ่มสูงขึ้น ซึ่งบริษัทหรือผู้ให้เช่าจะแจ้งเป็นลายลักษณ์อักษร ให้ผู้รับบริการได้ทราบล่วงหน้าเป็นระยะเวลาไม่น้อยกว่า 30 วัน
</div>
<div class="paragraph">
อัตราค่ากระแสไฟฟ้า น้ำประปา และแก๊ส สำหรับสถานที่เช่าในวันเริ่มให้บริการเป็นดังนี้
</div>
<div class="paragraph">
<span class="paragraph">ค่าน้ำประปา 20 บาท ต่อลูกบาศก์เมตร (Cu.Metre) (ไม่รวมภาษีมูลค่าเพิ่ม) </span>
<span class="paragraph">ค่ากระแสไฟฟ้า 5 บาท ต่อกิโลวัตต์-ชั่วโมง (kWh) (ไม่รวมภาษีมูลค่าเพิ่ม) </span>
<span class="paragraph">ค่าแก๊ส 108 บาท ต่อลูกบาศก์เมตร (Cu.Metre) (ไม่รวมภาษีมูลค่าเพิ่ม) </span>
<span class="paragraph">ค่าน้ำเย็นระบบปรับอากาศ 100 บาท ต่อตารางเมตรต่อเดือน (ไม่รวมภาษีมูลค่าเพิ่ม)</span>
</div>
<div class="paragraph">
ผู้รับบริการเป็นผู้ชำระค่าภาษีมูลค่าเพิ่ม
</div>
<div class="paragraph">
ผู้เช่า/ผู้รับบริการ ตกลงชำระเงินประกันมิเตอร์และการใช้ น้ำประปา ไฟฟ้า และแก๊ส ในส่วนของพื้นที่เช่า ในกรณีที่การไฟฟ้านครหลวง และ/หรือการประปานครหลวง หรือผู้ประกอบการขายแก๊ส ได้ปรับราคา ค่าไฟฟ้า และ/หรือค่าน้ำประปา และ/หรือ ค่าแก๊ส สูงขึ้น ผู้เช่า/ผู้รับบริการ ตกลงยินยอมให้ ผู้ให้เช่า/ผู้ให้บริการ ปรับราคาค่าไฟฟ้า และ/หรือ น้ำประปา และ/หรือค่าแก๊ส ขึ้นตามส่วนที่เพิ่มขึ้น
</div>
<div class="paragraph">
ข้อ 5. ระเบียบการใช้ประโยชน์ในตัวอาคาร
</div>
<div class="paragraph">
ผู้รับบริการจะปฏิบัติตามระเบียบและกฎเกณฑ์ต่างๆ ที่ออกโดยบริษัท เพื่อประโยชน์ร่วมกันในการใช้สถานที่เช่าและสถานที่ส่วนรวมทั้งหมด ของโครงการธัญญะ ช็อปปิ้ง พาร์ค
</div>
<div class="paragraph">
ข้อ 6. ข้อสัญญาของบริษัท
</div>
<div class="paragraph">
คู่สัญญาตกลงกันว่า เมื่อผู้รับบริการได้ปฏิบัติถูกต้องครบถ้วนตามสัญญาเช่าสถานที่ที่มีต่อกัน และได้ปฏิบัติตามสัญญานี้โดยเฉพาะในเรื่องการชำระค่าบริการแล้ว บริษัทสัญญาว่า จะให้บริการในพื้นที่ส่วนกลางแก่ผู้รับบริการดังนี้
</div>
<div class="paragraph">
6.1 บำรุงรักษาซ่อมแซม ทรัพย์สินที่อยู่ในพื้นที่ส่วนกลางให้อยู่ในสภาพที่ใช้การได้ 
6.2 จัดให้มีการทำความสะอาดและให้มีแสงสว่างในพื้นที่ส่วนกลางตามสมควร 
6.3 จัดให้มีน้ำใช้ในห้องน้ำ และห้องสุขาเพียงพอต่อการใช้ 
6.4 จัดหาเครื่องดับเพลิง ตามที่จำเป็นหรือเท่าที่จะต้องปฏิบัติตามกฎหมาย
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ บ.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 4/5</small></div>
</div>
</div>

<div class="paragraph">
ข้อ 7. ข้อสัญญาของผู้รับบริการ
</div>
<div class="paragraph">
7.1 ในกรณีมีความจำเป็นเนื่องจากธุรกิจของผู้รับบริการ อันทำให้ผู้รับบริการต้องใช้สถานที่เช่านอกเวลาเปิดดำเนินการตามปกติ และทำให้ต้องใช้บริการต่างๆ ในพื้นที่ส่วนกลางด้วย ผู้รับบริการจะต้องติดต่อเพื่อทำความตกลงล่วงหน้ากับบริษัท โดยผู้รับบริการยินยอมชำระค่าใช้จ่ายพิเศษเพิ่มขึ้นต่างหากจากค่าบริการที่กล่าวข้างต้น ตามอัตราที่บริษัทกำหนด และได้แจ้งให้ผู้รับบริการทราบล่วงหน้าแล้ว
</div>
<div class="paragraph">
7.2 ผู้รับบริการไม่มีสิทธิเรียกร้องใดๆ จากบริษัท และบริษัทไม่ต้องรับผิดชอบต่อผู้รับบริการในเรื่องดังต่อไปนี้
</div>
<div class="paragraph">
ก)  ข้อขัดข้องอย่างหนึ่งอย่างใดของระบบปรับอากาศ ระบบแสงสว่าง และบันไดเลื่อน หรือสาธารณูปโภคอื่น เพราะเหตุจำเป็นต้องซ่อมแซม หรือบำรุงรักษา หรือเนื่องจากความขัดข้องทางเครื่องจักรกล หรือข้อบกพร่องอื่นใด
</div>
<div class="paragraph">
ข)  การกระทำการ หรือการงดเว้นกระทำการ ไม่ว่าโดยจงใจหรือไม่ก็ตาม ของพนักงานของบริษัทในการปฏิบัติ หรือจะปฏิบัติหน้าที่ใดๆ เกี่ยวกับการให้บริการดังกล่าวข้างต้น
</div>
<div class="paragraph">
ข้อ 8. กรณีผิดสัญญา
</div>
<div class="paragraph">
คู่กรณีตกลงกันว่า สัญญาจ้างบริการในสถานที่เช่าตามสัญญาฉบับนี้ ถือเป็นส่วนหนึ่งของสัญญาเช่าที่คู่สัญญาได้ลงนามกันไว้แล้ว ข้อความใดที่มิได้ระบุไว้ชัดแจ้งในสัญญาบริการฉบับนี้ ก็ให้นำข้อความในสัญญาเช่าสถานที่มาบังคับแก่คู่สัญญาโดยอนุโลมด้วย นอกจากนี้ในกรณีที่ผู้รับบริการปฏิบัติผิดสัญญาฉบับใดฉบับหนึ่ง อันเป็นเหตุให้สัญญายกเลิก หรือสิ้นสุดลงทันที หรือสิ้นสุดลงภายหลังที่ได้รับคำบอกกล่าว ก็ให้สัญญาทั้งสองฉบับนี้สิ้นสุดลงพร้อมกัน
</div>
<div class="paragraph">
บริษัทมีสิทธิที่จะงดการให้บริการอย่างหนึ่งอย่างใด หรือทั้งหมด ตามที่ระบุไว้ในหนังสือสัญญานี้ กับดำเนินการอื่นใดตามที่เห็นสมควรได้ โดยผู้รับบริการจะเรียกร้องค่าทดแทนในความเสียหายใดๆ ที่เกิดขึ้นเพราะเหตุที่ตนเป็นฝ่ายผิดสัญญานั้นหาได้ไม่
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ บ.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 5/5</small></div>
</div>
</div>

<div class="paragraph">
สัญญานี้ทำขึ้นเป็นสองฉบับ มีข้อความถูกต้องตรงกัน ทั้งสองฝ่ายต่างได้อ่านและเข้าใจข้อความโดยตลอดแล้ว เห็นว่าเป็นไปตามเจตนาทุกประการ เพื่อเป็นหลักฐานจึงได้ลงลายมือชื่อพร้อมประทับตราไว้เป็นสำคัญต่อหน้าพยาน
</div>
<div style="text-align:center; white-space:pre-wrap;">

ลงชื่อ........................................................................ผู้ให้เช่า

( <strong>{{ resource.info.signer1 }}</strong> ) 
บริษัท ธัญวิลล์ จำกัด


ลงชื่อ..........................................................................ผู้เช่า

( <strong>{{ resource.info.signer2 }}</strong> ) 
<strong ng-show="tenants().length==1 && tenants()[0].name != resource.info.signer2">{{ tenants()[0].name }}</strong>
<div ng-repeat="witness in witnesses()">

ลงชื่อ..........................................................................พยาน

( <strong>{{ witness.name }}</strong> )

</div>
</div>

