<div ng-init="_params={
  code : 'ส.ธญพ.'
  ,title : 'สัญญาจ้างบริการสาธารณูปโภค'
  ,hidePartiesCloseMessage : true
  }">

  <div ng-include="'views/tvs/contract-print/params.html'"></div>
  <div ng-include="'views/tvs/contract-print/tof.html'"></div>
  <div ng-include="'views/tvs/contract-print/head.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/parties.html'"></div>
    <p>
    โดยที่ผู้รับบริการ ได้เข้าทำสัญญาเช่าสถานที่ในโครงการธัญญะ ช็อปปิ้ง พาร์ค กับ<span class="nobr">ผู้ให้เช่า</span> 
    ตามสัญญาเช่า <strong>{{ resource.display.area }}</strong> 
    สัญญาเลขที่ ช.ธญพ. <strong>{{ resource._name }}</strong> 
    ลงวันที่ <strong>{{ resource.info.issue_date | moment:'thaitext' }}</strong>
    และสัญญาจ้างบริการ เลขที่ บ.ธญพ. <strong>{{ resource._name }}</strong> 
    ลงวันที่ <strong>{{ resource.info.issue_date | moment:'thaitext' }}</strong>
    นั้น ผู้รับบริการยินยอมตกลงรับบริการต่างๆ 
    ตามที่ระบุในสัญญาฉบับนี้ ในสถานที่เช่าจากผู้ให้บริการ หรือ <span class="nobr">ผู้ให้เช่า</span>
    </p>
    <p>
    ทั้งสองฝ่ายจึงตกลงทำสัญญาฉบับนี้ 
    ซึ่งคู่สัญญาให้ถือเป็นส่วนหนึ่งของสัญญาเช่าสถานที่และสัญญาจ้างบริการดังกล่าวข้างต้นด้วย 
    ทั้งสองฝ่ายได้ตกลงกันดังต่อไปนี้
    </p>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec1.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec2.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec3.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec4.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec5.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec6.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec7a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec7b.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec8.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec9.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/u2/sec10.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/foot.html'"></div>
  </div>

</div>

