<div ng-init="_params={
  code : 'ช.ธญพ.'
  ,title : 'สัญญาเช่าสถานที่ โครงการ THANYA SHOPPING PARK'
  }" 
  ng-class="{ '' : (_params.term = getTerm() && (getTerm() + ' TERM').toUpperCase()) }"
  >

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>
  <div ng-include="'views/tvs/contract-print-head.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-parties.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec1.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec2.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec3.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec4a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec4b.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec5.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec6.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-r-sec7.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print-tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print-foot.html'"></div>
  </div>

</div>