<div ng-init="
  _params={
    code  : 'ช.ธญพ.'
  , title : 'สัญญาเช่าสถานที่ศูนย์การค้า THANYA SHOPPING PARK'
  , called: 1
  }" 
  ng-class="
    (_params.term = getTerm() && (getTerm() + ' TERM').toUpperCase())
    && '' "
  >
  <div ng-include="'views/tvs/contract-print/params.html'"></div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>
  <div ng-include="'views/tvs/contract-print/head.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/parties.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec1.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec2.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec3.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec4.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec5a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec5b.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec6.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec7a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec7b.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec7c.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec7d.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec8.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec9.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10b.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10c.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10d.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10e.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec10f.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec11.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec12a.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec12b.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec13.html'"></div>
  </div>

  <div ng-include="'views/tvs/contract-print/tof.html'"></div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec14.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/r2/sec15.html'"></div>
  </div>

  <div class="paragraph">
    <div ng-include="'views/tvs/contract-print/foot.html'"></div>
  </div>

</div>