<div class="page-header-right first-page">
<small ng-show="getTerm()">{{ getTerm().toUpperCase() }} TERM</small> สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div class="no-screen"><small>หน้าที่ 1/7</small></div>
</div>
<h4 class="paragraph-center">
	สัญญาเช่าสถานที่ โครงการ THANYA SHOPPING PARK
</h4>
<div style="float:right; white-space:pre-wrap;">
สัญญานี้ทำขึ้นที่ บริษัท ธัญวิลล์ จำกัด
เลขที่ 52 อาคารธนิยะพลาซา ชั้น 9 เอ็ม
ถนนสีลม แขวงสุริยวงศ์ เขตบางรัก
กรุงเทพมหานคร

วันที่ <strong>{{ resource.info.issue_date | moment:'thaitext' }}</strong>

</div>
<h5 class="paragraph-center">
สัญญานี้ทำขึ้นระหว่าง
</h5>
<div class="paragraph">
	บริษัท ธัญวิลล์ จำกัด โดย <strong>{{ resource.info.signer1 }}</strong> กรรมการผู้รับมอบอำนาจกระทำการแทนบริษัท สำนักงานใหญ่เลขที่ 52 อาคารธนิยะพลาซา ชั้น 9 เอ็ม ถนนสีลม แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร ซึ่งต่อไปนี้ในสัญญานี้จะเรียกว่า "ผู้ให้เช่า" ฝ่ายหนึ่ง
</div>
<div class="paragraph">
กับ
</div>
<div class="paragraph" ng-show="tenants().length==1">
	<strong>{{ resource.display.tenant }}</strong> ซึ่งต่อไปในสัญญานี้จะเรียกว่า "ผู้เช่า" อีกฝ่ายหนึ่ง
</div>
<div class="paragraph" style="white-space:pre-wrap;" ng-show="tenants().length &gt; 1"><strong>{{ resource.display.tenant }}</strong>
<div class="paragraph">ซึ่งต่อไปในสัญญานี้จะเรียกว่า "ผู้เช่า" อีกฝ่ายหนึ่ง</div></div>
<div class="paragraph">
	ทั้งสองฝ่ายตกลงทำสัญญากันโดยมีข้อความดังต่อไปนี้
</div>
<h5 class="paragraph">
	ข้อ 1. บริเวณสถานที่ที่เช่า
</h5>
<div class="paragraph">
	ผู้ให้เช่าตกลงให้เช่า ผู้เช่าตกลงเช่าพื้นที่ในโครงการธัญญะ ช็อปปิ้ง พาร์ค ซึ่งตั้งอยู่บนโฉนดที่ดินเลขที่ 183772, 184699, 196017, 206094, 31837-8, 77377-8, 77380-3, 197411-2, 192443-4, 233275, 225353, 2526, 74201 และ 6689 รวม 21 โฉนด ถนน ศรีนครินทร์ แขวง สวนหลวง (คลองประเวศฝั่งเหนือ)เขต พระโขนง กรุงเทพมหานคร <strong>{{ resource.display.area }}</strong> เนื้อที่ประมาณ <strong>{{ resource.info.area_xsize && '*' }} {{ resource.info.area_size }}</strong> ตารางเมตร บริเวณพื้นที่เช่าปรากฏตามแผนผังแนบท้ายสัญญาฉบับนี้ และให้ถือเป็นส่วนหนึ่งของสัญญาเช่าฉบับนี้ เพื่อประกอบกิจการค้าประเภท <strong>{{ resource.info.business_type || '-' }}</strong> (ซึ่งต่อไปในสัญญานี้จะเรียกว่า "สถานที่เช่า") ผู้ให้เช่าให้เช่าเฉพาะพื้นที่ภายในบริเวณสถานที่เช่าเท่านั้น ผู้เช่าไม่มีสิทธิภายนอกพื้นที่สถานที่เช่า ผู้ให้เช่าทรงไว้ซึ่งสิทธิแต่เพียงผู้เดียวในการใช้ประโยชน์ภายนอกสถานที่เช่า</div>
<div class="paragraph">
	<strong ng-show="resource.info.area_xsize">* หมายเหตุ พื้นที่รังวัดแล้ว {{ (resource.info.area_xsize&lt;0 && 'ลดลง') || 'เพิ่มขึ้น' }} จากสัญญาจอง {{ resource.info.area_xsize }} ตารางเมตร</strong>
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 2/7</small></div>
</div>
</div>

<h5 class="paragraph">
	ข้อ 2. กำหนดเวลา และอัตราค่าเช่า
</h5>
<div class="paragraph">
  <div ng-show="rent_rates().length && rent_rates()[0].value">
	สัญญาเช่าสถานที่ฉบับนี้ มีกำหนดระยะเวลาเช่า <strong>{{ resource.info.duration }}</strong> นับแต่วันที่ <strong>{{ resource.info.rent_date | moment:'thaitext' }}</strong> ถึงวันที่ <strong>{{ resource.info.rent_until| moment:'thaitext' }}</strong> โดยผู้เช่าจะต้องชำระค่าเช่าล่วงหน้าเป็นรายเดือนให้แก่ผู้ให้เช่า ณ ที่ทำการของผู้ให้เช่าในโครงการ ธัญญะ ช็อปปิ้ง พาร์ค เลขที่ 735/1-8 ถนนศรีนครินทร์ แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร ในวันทำสัญญา และภายในวันที่ 5 ของทุกๆ เดือน <strong ng-show="rent_rates().length==1" ng-repeat="rate in rent_rates()">ใน{{ rate.description }} {{ rate.value | numeral }} บาท ({{ rate.value | numeral:'bahttext'}})</strong><span ng-show="rent_rates().length &gt; 1">ในอัตราค่าเช่า ดังนี้</span>
  </div>
  <div ng-show="resource.info.rental_deposit">
  สัญญาเช่าสถานที่ฉบับนี้ มีกำหนดระยะเวลาเช่า <strong>{{ resource.info.duration }}</strong> นับแต่วันที่ <strong>{{ resource.info.rent_date | moment:'thaitext' }}</strong> ถึงวันที่ <strong>{{ resource.info.rent_until| moment:'thaitext' }}</strong> โดยผู้เช่าจะชำระค่าเช่าล่วงหน้าแก่ผู้ให้เช่าครบถ้วนเป็นจำนวน {{ resource.info.rental_deposit | numeral }} บาท ({{ resource.info.rental_deposit | numeral:'bahttext' }}) ในวันที่ทำสัญญาฉบับ
  </div>
</div>
<div class="paragraph" ng-show="rent_rates().length &gt; 1">
  <div ng-repeat="rate in rent_rates()">
    (2.{{$index+1}}) {{rate.description}} {{rate.value | numeral}} บาท ({{rate.value | numeral:'bahttext'}})
  </div>
</div>
<div class="paragraph">
	ผู้เช่ามีระยะเวลาตกแต่งสถานที่เช่า โดยไม่เสียค่าเช่า นับแต่วันที่ <strong>{{ resource.info.decorate_date | moment:'thaitext' }}</strong> ถึงวันที่ <strong>{{ resource.info.decorate_until | moment:'thaitext'}}</strong> แต่ผู้เช่าต้องชำระเงินค่า สาธารณูปโภค น้ำ, ไฟ ตามที่ได้ใช้ในระหว่างงานตกแต่ง
</div>

<div class="paragraph">
	ทั้งนี้ ผู้เช่าต้องเป็นผู้รับผิดชอบในการจัดทำประกันภัย CONTRACTOR ALL RISKS INSURANCE “CAR” กับบริษัทประกันภัยที่เชื่อถือได้ เพื่อคุ้มครองภัยในระหว่างการตกแต่งสถานที่เช่า และเป็นหน้าที่ของผู้เช่าที่จะต้องนำสำเนากรมธรรม์ดังกล่าวมาส่งมอบให้กับผู้ให้เช่า ก่อนเริ่มดำเนินการตกแต่งสถานที่เช่า
</div>
<div class="paragraph" ng-show="rent_rates().length && rent_rates()[0].value">
    ผู้เช่าเริ่มชำระค่าเช่า ตั้งแต่วันที่ <strong>{{ resource.info.pay_date | moment:'thaitext' }}</strong> ถึงวันที่ <strong>{{ resource.info.pay_until | moment:'thaitext' }}</strong>
</div>
<div class="paragraph" ng-show="rent_rates().length && rent_rates()[0].value">
    ในกรณีที่ผู้เช่าชำระเงินช้ากว่ากำหนด ผู้เช่ายินยอมเสียค่าปรับเพื่อเป็นค่าเสียหายเท่ากับอัตราดอกเบี้ยร้อยละ 0.5 ต่อวัน ของเงินที่ค้างชำระ จนกว่าจะชำระค่าเช่าครบถ้วน
</div>

<h5 class="paragraph" style="clear-both">
	ข้อ 3. ประเภทและชนิดของสินค้าในการประกอบการ
</h5>
<div class="paragraph">
    3.1 เพื่อความเป็นระเบียบในการประกอบธุรกิจในโครงการธัญญะ ช็อปปิ้งพาร์ค ผู้เช่าสัญญาว่าจะประกอบกิจการค้าตามประเภทและชนิดของสินค้า ตามที่ได้ระบุไว้ในสัญญาข้อ 1. เท่านั้น ผู้เช่าจะไม่ประกอบกิจการประเภทสถานบริการ สถานที่เล่นเกมส์ต่างๆ และอื่นๆ หากผู้เช่าจะเปลี่ยนประเภท และชนิดของสินค้าที่ผู้เช่าได้ประกอบการ ผู้เช่าจะต้องได้รับความยินยอมจากผู้ให้เช่าเป็นลายลักษณ์อักษร หากผู้เช่ามิได้ปฏิบัติตามเงื่อนไขดังกล่าว ถือว่าผู้เช่าปฏิบัติผิดสัญญา ผู้ให้เช่ามีสิทธิบอกเลิกได้ทันทีและผู้เช่าสละสิทธิที่จะเรียกร้องค่าเสียหายใดๆ จากผู้ให้เช่าทั้งสิ้น
</div>
<div class="paragraph">
    3.2 ผู้เช่าสัญญาว่า เมื่อได้เข้าครอบครองพื้นที่/สถานที่เช่าแล้ว จะเปิดดำเนินกิจการภายในวันที่ <strong>{{ resource.info.operate_date | moment:'thaitext' }}</strong> หากพ้นกำหนดดังกล่าวและยังไม่เปิดดำเนินกิจการ ผู้เช่ายินยอมให้ผู้ให้เช่าปรับเป็นรายวัน ในอัตราวันละ 500 บาท/ตารางเมตร (ห้าร้อยบาทถ้วนต่อตารางเมตร) และผู้ให้เช่ามีสิทธิบอกเลิกสัญญาเช่าได้
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 3/7</small></div>
</div>
<div style="clear-both">&nbsp;</div>
</div>


<h5 class="paragraph">
	ข้อ 4. ข้อสัญญาของผู้เช่า
</h5>
<div class="paragraph">
    4.1 เพื่อความเป็นระบียบเรียบร้อย และความปลอดภัยสำหรับการประกอบการในสถานที่เช่าโดยส่วนรวม ผู้เช่ายินดีที่จะปฏิบัติตามระเบียบ กฎ ข้อบังคับ ประกาศหรือคำสั่งใดๆ ที่ผู้ให้เช่าได้ออก หรือได้ประกาศให้ทราบโดยทั่วกัน ผู้เช่าสัญญาว่าเมื่อเปิดดำเนินกิจการแล้ว ผู้เช่าจะเปิดดำเนินการตามกำหนดเวลาที่ผู้ให้เช่ากำหนด โดยเปิดทำการทุกวัน สัปดาห์ละ 7 วัน ตั้งแต่เวลา 10.00 น. ถึงเวลา 22.00 น. หากผู้เช่าเปิด-ปิดกิจการ ไม่ครบตามวันและเวลาที่กำหนด ผู้เช่าตกลงเสียค่าปรับแก่ผู้ให้เช่า ในอัตราวันละ 500 บาท/ตารางเมตร (ห้าร้อยบาทถ้วนต่อตารางเมตร) และผู้ให้เช่ามีสิทธิบอกเลิกสัญญาเช่าได้
</div>
<div class="paragraph">
    4.2 ผู้เช่าสัญญาว่าตลอดระยะเวลาการเช่า ผู้เช่าจะทำสัญญาจ้างบริการกับผู้ให้เช่าหรือบุคคลหรือนิติบุคคลที่ผู้ให้เช่ากำหนด และสัญญาจ้างบริการดังกล่าวให้ถือเป็นส่วนหนึ่งของสัญญาเช่าฉบับนี้
</div>
<div class="paragraph">
    ถ้าผู้เช่าผิดนัดไม่ชำระค่าเช่า, ค่าใช้จ่าย หรือไม่ชำระค่าบริการตามสัญญาจ้างบริการ หรือไม่ปฏิบัติตามสัญญานี้ในข้อหนึ่งข้อใดให้ถือว่าผู้เช่าผิดสัญญา ผู้ให้เช่ามีสิทธิบอกเลิกสัญญาเช่าและสัญญาจ้างบริการได้ทันที และผู้ให้เช่ามีสิทธิเข้าครอบครองสถานที่เช่า โดยผู้เช่าจะไม่โต้แย้งและไม่เรียกร้องค่าเสียหายใดๆ ทั้งสิ้น
</div>
<div class="paragraph">
    4.3 ผู้เช่าสัญญาว่า ผู้เช่าจะไม่โอนสิทธิการเช่าในสถานที่เช่านี้ หรือนำสถานที่เช่าทั้งหมดหรือบางส่วนไปให้บุคคลอื่นเช่าช่วง หรือยินยอมให้บุคคลอื่นเข้าครอบครองหรือใช้ประโยชน์แทนไม่ว่าเป็นการประจำหรือชั่วคราว เว้นแต่จะได้รับความยินยอมเป็นลายลักษณ์อักษรจากผู้ให้เช่า
</div>
<div class="paragraph">
    หากผู้เช่าโอนสิทธิการเช่าตามสัญญานี้โดยได้รับความยินยอมเป็นลายลักษณ์อักษรจากผู้ให้เช่าแล้ว ผู้เช่าในฐานะผู้โอนสิทธิต้องเสียค่าธรรมเนียมการโอนแก่ผู้ให้เช่าในอัตรา 3,000 บาท/ตารางเมตร แต่ทั้งนี้ค่าธรรมเนียมสูงสุดไม่เกิน 200,000 บาท/สัญญา (สองแสนบาทถ้วนต่อสัญญา)
</div>
<div class="paragraph">
    4.4 ผู้เช่าจะไม่ใช้สถานที่เช่านี้เป็นที่อยู่อาศัย หรืออนุญาต หรือยินยอมให้บุคคลหนึ่งบุคคลใดเข้าอยู่อาศัยในสถานที่เช่านี้ ผู้ให้เช่าสงวนสิทธิที่จะห้ามมิให้บุคคลหนึ่งบุคคลใด ไม่ว่าจะเป็นลูกจ้าง หรือบริวาร หรือลูกค้าของผู้เช่า เข้าไปภายในสถานที่เช่า หรือ ให้ออกไปจากสถานที่เช่า เมื่อผู้ให้เช่าพิจารณาเห็นว่าบุคคลเหล่านั้นเป็นผู้ที่ประพฤติตนไม่เหมาะสม โดยผู้เช่าไม่มีสิทธิโต้แย้งไม่ว่ากรณีใดๆ ทั้งสิ้น และผู้เช่าจะไม่ประกอบอาหาร หรืออนุญาตให้บุคคลหนึ่งบุคคลใด ประกอบอาหารในสถานที่เช่าโดยเด็ดขาด
</div>
<div class="paragraph">
    สำหรับในกรณีที่ผู้เช่าได้รับอนุญาตจากผู้ให้เช่าให้เข้าประกอบกิจการประเภทร้านอาหาร ผู้เช่าจะต้องจัดให้มีเครื่องอุปกรณ์กำจัดกลิ่น ควัน อุปกรณ์ดักและกำจัดไขมันและอุปกรณ์ดับเพลิง พร้อมทั้งต้องดูแลรักษาความสะอาดของร้านให้ถูกลักษณะ ตามระเบียบของทางราชการและของผู้ให้เช่าอยู่เสมอ
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 4/7</small></div>
</div>
<div style="clear-both">&nbsp;</div>
</div>


<div class="paragraph">
    4.5 ผู้เช่าสัญญาว่าจะไม่ใช้หรืออนุญาตหรือปล่อยให้สถานที่เช่าหรือส่วนหนึ่งส่วนใดของสถานที่เช่า เป็นที่ประกอบกิจการค้าที่ละเมิดลิขสิทธิ์ เครื่องหมายการค้า และหรือกิจการที่ผิดกฎหมายหรือผิดศีลธรรมอย่างใดทั้งสิ้นหรือโดยเป็นหรืออาจจะเป็นเหตุที่ก่อให้เกิดอันตรายต่อสุขภาพ อนามัย หรือเป็นที่น่ารังเกียจ หรือก่อให้เกิดความเดือดร้อนรำคาญแก่ผู้ให้เช่า หรือผู้อยู่ใกล้เคียง
</div>
<div class="paragraph">
    4.6 ผู้เช่าสัญญาว่าจะไม่เก็บรักษาหรือนำเข้ามาในสถานที่เช่าซึ่งวัตถุ สิ่งของที่ละเมิดลิขสิทธิ์ เครื่องหมายการค้า และหรือสิ่งผิดกฎหมายอื่นๆ หรือวัตถุที่อาจเกิดการเผาไหม้ได้ในตัวเอง วัตถุระเบิด วัตถุไวไฟ ถังแก๊ส หรือของอื่นที่มีสภาพเป็นอันตราย รวมทั้งไม่นำสัตว์เข้ามาเก็บหรือเลี้ยงไว้ในสถานที่เช่า หรือเมื่อผู้ให้เช่าพิจารณาเห็นว่า สิ่งของหรือวัตถุชนิดใด ไม่สมควรจะอยู่ในสถานที่เช่า ผู้เช่าจะขนย้ายสิ่งของชนิดนั้นๆ ออกไปจากสถานที่เช่าทันที
</div>
<div class="paragraph">
    4.7 ผู้เช่าสัญญาว่า จะไม่ทำการดัดแปลง หรือต่อเติม หรือเปลี่ยนสภาพสถานที่เช่า ซึ่งรวมถึงการก่อสร้าง ตกแต่ง กั้นห้อง กั้นฝา หรือติดตั้งท่อ หรือสาย หรือเสาใดๆ ในสถานที่เช่า เว้นแต่จะได้รับอนุญาตเป็นลายลักษณ์อักษรจากผู้ให้เช่าก่อน การดัดแปลงหรือต่อเติมใดๆ ที่ผู้เช่าทำขึ้น ไม่ว่าโดยได้รับอนุญาตหรือไม่ได้รับอนุญาตจากผู้ให้เช่า จะต้องตกเป็นทรัพย์สินของผู้ให้เช่าทันที โดยผู้เช่าไม่มีสิทธิเรียกร้องค่าทดแทนแต่อย่างใดทั้งสิ้น ทั้งนี้เว้นแต่ผู้ให้เช่าจะเลือกให้ผู้เช่าจัดทำสถานที่เช่า ให้กลับสู่สภาพเดิมโดยค่าใช้จ่ายของผู้เช่าเอง
</div>
<div class="paragraph">
    4.8 ผู้เช่าจะไม่ติดตั้งหรือไม่ยอมให้บุคคลหนึ่งบุคคลใดติดตั้ง ไม่ว่าภายในหรือภายนอกสถานที่เช่า ซึ่งเสาธง ป้าย หรือ เครื่องหมายโฆษณา เครื่องหมายการค้า เสาวิทยุ เสาโทรทัศน์ หรือเสาอากาศ อื่นใด เว้นแต่จะเป็นการติดตั้งหรือแสดงชื่อของผู้เช่า และลักษณะของกิจการที่กระทำ ณ สถานที่เช่า หรือทางประตูเข้าออกของสถานที่เช่าเท่านั้น แต่การที่ผู้เช่าจะติดตั้งหรือแสดงชื่อหรือลักษณะของธุรกิจดังกล่าวนี้ จะต้องได้รับความเห็นชอบ (ตามแบบที่ผู้ให้เช่ากำหนด) เป็นลายลักษณ์อักษรจากผู้ให้เช่าหรือตัวแทนของผู้ให้เช่าก่อน
</div>
<div class="paragraph">
    4.9 ผู้เช่าสัญญาว่า ในระหว่างการเช่าที่ผู้เช่าเป็นผู้ครอบครองสถานที่เช่า ผู้เช่าจะเป็นผู้ออกค่าใช้จ่ายในการเปลี่ยนกระจกหน้าต่าง และประตูสถานที่เช่าที่แตกหรือชำรุด
</div>
<div class="paragraph">
    4.10 ผู้เช่ายินยอมให้ผู้ให้เช่าหรือตัวแทนของผู้ให้เช่า เข้าตรวจตราสถานที่เช่าได้ตามสมควรตลอดเวลาทำการของผู้เช่า หากผู้ให้เช่าหรือตัวแทนของผู้ให้เช่าได้แจ้งให้ผู้เช่าทราบเป็นลายลักษณ์อักษรว่า ผู้เช่ามีหน้าที่ต้องซ่อมแซมสิ่งชำรุดบกพร่อง หรือสิ่งอื่นใดที่ผู้เช่ามีหน้าที่ต้องกระทำตามสัญญานี้แล้ว ผู้เช่าจะต้องปฏิบัติภายใน 15 วัน นับแต่วันที่ได้รับแจ้ง ทั้งนี้ เว้นแต่การชำรุดนั้นเป็นการเสื่อมโทรมตามสภาพการใช้ ในกรณีผู้เช่าไม่จัดการซ่อมแซม หรือไม่ปฏิบัติให้แล้วเสร็จภายในกำหนดดังกล่าวนับแต่วันที่ได้รับแจ้ง ผู้ให้เช่ามีสิทธิเข้าไปในสถานที่เช่า และจัดการซ่อมแซม โดยผู้เช่าต้องเป็นผู้ชำระค่าใช้จ่ายในการซ่อมแซมทั้งสิ้น
</div>
<div class="paragraph">
    การเดินสายไฟฟ้าภายในบริเวณสถานที่เช่า ผู้เช่าจะเป็นผู้ดำเนินการเองทั้งสิ้น และการดำเนินการดังกล่าวจะต้องเป็นไปตามระเบียบกฎเกณฑ์ของการไฟฟ้านครหลวง และ/หรือ กฎเกณฑ์ซึ่งผู้ให้เช่ากำหนด แต่ผู้เช่าต้องยื่นแบบพร้อมรายละเอียด ให้แก่ผู้ให้เช่าพิจารณาเพื่อให้ความเห็นชอบเป็นลายลักษณ์อักษร ก่อนการใช้กระแสไฟฟ้าภายในบริเวณสถานที่เช่า
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 5/7</small></div>
</div>
<div style="clear-both">&nbsp;</div>
</div>


<div class="paragraph">
    4.11 ผู้เช่าเป็นผู้เสียค่าภาษีโรงเรือน และ/หรือ ภาษีอื่นใดที่เกี่ยวกับสถานที่เช่า โดยผู้เช่าต้องนำเงินค่าภาษีมามอบให้แก่ผู้ให้เช่าภายใน 7 วัน นับแต่วันที่ได้รับแจ้งจากผู้ให้เช่า
</div>
<div class="paragraph">
    4.12 ผู้ให้เช่าจะเป็นผู้จัดหาบริษัทประกันภัยเพื่อทำประกันการเสี่ยงภัยทุกชนิด (Property All Risks "Insurance") ในสถานที่เช่าตลอดอายุสัญญาการเช่า โดยเริ่มตั้งแต่วันทำสัญญาเช่าเป็นต้นไป โดยผู้ให้เช่าเป็นผู้รับผลประโยชน์ ทั้งนี้ผู้เช่าจะเป็นผู้ชำระค่าเบี้ยประกันทั้งสิ้น และหากมีการเพิ่มอัตราค่าเบี้ยประกันภัย ผู้เช่ายินดีจะชำระค่าเบี้ยประกันภัยตามที่เพิ่มขึ้นนั้น การประกันภัยดังกล่าวจะไม่รวมถึงทรัพย์สินของผู้เช่า
</div>
<div class="paragraph">
    ผู้เช่าเป็นผู้รับผิดชอบทำประกันภัยในทรัพย์สินของผู้เช่าที่อยู่ในสถานที่เช่า กรณีหากเกิดอัคคีภัย หรือวินาศภัยใดๆ เนื่องจากความประมาทเลินเล่อหรือความผิดของผู้เช่า ลูกจ้างของผู้เช่า ลูกค้า หรือบุคคลอื่นในสถานที่เช่า ผู้เช่าจะต้องรับผิดชอบค่าใช้จ่ายทั้งหมดในการซ่อมแซม หรือการทำให้กลับคืนสู่สภาพเดิม รวมทั้งการชดใช้ค่าเสียหายทั้งปวงที่เกิดขึ้นให้แก่ผู้ให้เช่า และ/หรือผู้เช่ารายอื่นด้วย
</div>
<div class="paragraph">
    4.13 หากผู้เช่ากระทำผิดสัญญาเช่านี้ข้อหนึ่งข้อใด หรือหลายข้อก็ตาม หรือฝ่าฝืน ไม่ปฏิบัติตามกฎ ระเบียบ ข้อบังคับการใช้สถานที่เช่าแม้แต่อย่างหนึ่งอย่างใด หรือถ้าสถานที่เช่า หรือสิ่งของที่อยู่ในสถานที่เช่าถูกอายัด หรือถูกยึดตามคำสั่งของศาลก็ดี หรือทำการตกลงกับเจ้าหนี้เกี่ยวกับทรัพย์ที่เช่าประการใดก็ดี ในกรณีหนึ่งกรณีใดดังกล่าวมานี้ ผู้ให้เช่ามีสิทธิที่จะบอกเลิกสัญญาเช่านี้ได้โดยพลันทันที และให้ถือว่าผู้เช่ายินยอมเลิกสัญญาเช่านี้ด้วย พร้อมทั้งยินยอมให้ผู้ให้เช่าเข้ายึดถือครอบครองสถานที่เช่าได้โดยพลันทันที และจัดการต่อไปตามที่เห็นสมควรโดยผู้เช่าไม่โต้แย้ง หรือเรียกร้องค่าเสียหาย หรือเงินใดๆ ทั้งสิ้น ส่วนเงินค่าเช่าล่วงหน้า และเงินประกันการเช่าที่ผู้เช่าชำระแล้วทั้งหมดแก่ผู้ให้เช่า ผู้เช่ายอมให้ผู้ให้เช่าริบเสียได้
</div>
<div class="paragraph">
    4.14 คำบอกกล่าวใดๆ ที่ผู้ให้เช่าได้มีถึงผู้เช่า ตามภูมิลำเนาที่ผู้เช่าได้จดแจ้งไว้ในสัญญานี้ หรือเมื่อผู้ให้เช่าได้ส่ง หรือประกาศ โดยปิดไว้โดยเปิดเผย ณ สถานที่เช่าตามสัญญานี้ให้ถือว่าเป็นการส่งโดยชอบ และผู้เช่าได้รับแล้ว
</div>
<h5 class="paragraph">
	ข้อ 5. ข้อสัญญาของผู้ให้เช่า
</h5>
<div class="paragraph">
	5.1 ผู้ให้เช่าสัญญาว่าจะให้ผู้เช่าได้ใช้ประโยชน์ในสถานที่เช่าตามที่ได้ตกลงกันในสัญญานี้
</div>
<div class="paragraph">
	5.2 ผู้ให้เช่าไม่รับผิดชอบต่อผู้เช่า ลูกจ้างของผู้เช่า แขก ลูกค้า หรือบุคคลอื่นๆ ในสถานที่เช่าสำหรับอุบัติเหตุใดๆ ที่เกิดขึ้น หรือการบาดเจ็บที่ได้รับหรือความเสียหาย หรือความสูญหายที่เกิดขึ้นแก่สินค้า หรือทรัพย์สินของผู้เช่า หรือของบุคคลอื่นใดดังกล่าวที่ได้นำเข้ามาหรือมีอยู่ในสถานที่เช่า
</div>
<h5 class="paragraph">
	ข้อ 6. ในกรณีครบกำหนดสัญญา
</h5>
<div class="paragraph">
	6.1 เมื่อครบกำหนดระยะเวลาเช่า หรือเมื่อการเช่าสิ้นสุดลงก่อนครบกำหนดตามสัญญา เพราะเหตุผิดสัญญา ผู้เช่าต้องส่งมอบคืนกุญแจทั้งหมด และสถานที่เช่าแก่ผู้ให้เช่าในสภาพเรียบร้อยปกติดีดังเดิม หากสถานที่เช่าชำรุดเสียหาย โดยมิใช่การเสื่อมสภาพ หรือการใช้งานตามปกติ ผู้เช่ามีหน้าที่ต้องซ่อมแซมให้อยู่ในสภาพเรียบร้อยดีดังเดิม
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 6/7</small></div>
</div>
<div style="clear-both">&nbsp;</div>
</div>


<div class="paragraph">
	6.2 หากผู้เช่าไม่ส่งมอบสถานที่เช่า และไม่ขนย้ายทรัพย์สินสัมภาระออกไปจากสถานที่เช่าภายในเวลาที่กำหนด ผู้เช่าขอแสดงเจตนาในหนังสือสัญญาเช่านี้ ยินยอมให้ผู้ให้เช่ามีสิทธิเข้าครอบครองพื้นที่เช่าได้โดยพลัน รวมทั้งมีอำนาจทำลายกุญแจ และเครื่องกีดขวางใดๆ ได้ และปิดกั้นใส่กุญแจไม่ให้ผู้เช่า และบริวารเข้าเกี่ยวข้องกับทรัพย์ที่เช่าได้ โดยผู้เช่าเป็นผู้รับผิดชอบค่าใช้จ่าย ที่เกิดขึ้น และยินยอมให้ทรัพย์สิ่งของทั้งหมดในร้านค้าตกเป็นกรรมสิทธิของผู้ให้เช่าทันที และผู้ให้เช่ามีสิทธิขนย้ายทรัพย์สินทั้งหมดออกจากพื้นที่เช่าโดยเร็ว เพื่อให้ผู้ให้เช่านำพื้นที่ออกให้บุคคลอื่นเช่าต่อไป หรือจัดการซ่อมแซมพื้นที่เช่าให้อยู่ในสภาพเรียบร้อยดี โดยผู้เช่าต้องรับผิดชอบค่าใช้จ่ายที่ผู้ให้เช่าเสียไป ตลอดจนชดใช้ค่าปรับอัตราวันละ 200 บาท/ตารางเมตร (สองร้อยบาทถ้วนต่อตารางเมตร)
</div>
<div ng-show="resource.info.insure_deposit">
<h5 class="paragraph">
	ข้อ 7. ข้อตกลงเพิ่มเติมของคู่สัญญาสองฝ่าย
</h5>
<div class="paragraph">
	7.1 เงินประกันการเช่าที่ผู้เช่าชำระในวันทำสัญญาเช่าฉบับนี้ จำนวน <strong>{{ resource.info.insure_deposit | numeral }}</strong> บาท ({{ resource.info.insure_deposit | numeral:'bahttext' }}) คู่สัญญาให้ถือเป็นเงินประกันการปฏิบัติตามสัญญาเช่าตลอดอายุสัญญาเช่า เงินประกันนี้จะคืนแก่ผู้เช่าเมื่อสัญญาเช่าสิ้นสุดลง โดยผู้เช่าไม่ผิดสัญญา และไม่มีค่าเสียหาย หรือค่าใช้จ่ายใดๆ ค้างชำระแก่ผู้ให้เช่า
</div>
<div class="paragraph">
	7.2 ก่อนสัญญาเช่าครบกำหนด 90 วัน (เก้าสิบวัน) ผู้ให้เช่าจะมีหนังสือแจ้งผู้เช่าว่า ประสงค์จะทำสัญญาเช่าต่อหรือไม่ หากมีการต่ออายุสัญญาเช่า คู่สัญญาจะได้ทำความตกลงกำหนดอัตราค่าเช่าและค่าบริการกันใหม่ก่อนสัญญาเช่าฉบับนี้สิ้นสุดลง และภายใต้เงื่อนไขสัญญาเช่า, สัญญาจ้างบริการนี้
</div>
<div class="paragraph">
	7.3 ผู้เช่าจะไม่บอกเลิกสัญญาเช่า ก่อนครบกำหนดระยะเวลาเช่าตามข้อ 2 หากผู้เช่าบอกเลิกสัญญาเช่าก่อนครบกำหนดระยะเวลาดังกล่าว ผู้เช่ายินยอมให้ผู้ให้เช่าริบเงินของผู้เช่าในข้อ 7.1 ได้ทันที และผู้เช่ายังคงต้องรับผิดชอบชำระค่าเช่า ค่าบริการ และค่าใช้จ่ายอื่นๆ ที่ค้างชำระแก่ผู้ให้เช่าจนครบถ้วน รวมทั้งค่าปรับปรุงซ่อมแซมห้องเช่าให้กลับสู่สภาพเดิม
</div>

<div class="page-break">
<div class="page-header-right">
สัญญาที่ ช.ธญพ. <strong>{{ resource._name }}</strong>
<div><small>หน้าที่ 7/7</small></div>
</div>
<div style="clear-both">&nbsp;</div>
</div>


<div class="paragraph">
	สัญญานี้ทำขึ้นเป็นสองฉบับ มีข้อความถูกต้องตรงกัน คู่สัญญาทั้งสองฝ่ายต่างได้อ่านและเข้าใจข้อความโดยตลอดแล้ว เห็นว่าถูกต้องตรงตามเจตนาทุกประการ จึงได้ลงลายมือชื่อไว้เป็นสำคัญต่อหน้าพยาน และต่างยึดถือไว้ฝ่ายละฉบับ
</div>
</div>
<div class="paragraph-center">
<br/>
ลงชื่อ........................................................................ผู้ให้เช่า<br/>
<br/>
( <strong>{{ resource.info.signer1 }}</strong> ) <br/>
บริษัท ธัญวิลล์ จำกัด<br/>
<br/>
<br/>
ลงชื่อ..........................................................................ผู้เช่า<br/>
<br/>
( <strong>{{ resource.info.signer2 }}</strong> ) <br/>
<strong ng-show="tenants().length==1 && tenants()[0].name != resource.info.signer2">{{ tenants()[0].name }}</strong><br/>
<div ng-repeat="witness in witnesses()"><br/>
<br/>
ลงชื่อ..........................................................................พยาน<br/>
<br/>
( <strong>{{ witness.name }}</strong> )<br/>
</div>
</div>
