  <div class="container-fluid" ng-init="typeaheadWait=150">

    <div ng-include="'views/includes/edit-header.html'"> </div>
        
    <div><!-- head -->
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span4">
            <label>ประเภทอุปกรณ์: </label>
            <select class="input-medium"
              ng-disabled = "!unlockEdit"
              ng-model  ="resource._type" 
              ng-options="c.name as c.name for c in db.database.BUILT_IN.equipmentTypes"
              ></select>
          </div>
        </div>
        <div class="row-fluid">
          <div>
            <label>
              เลขที่มิเตอร์ : 
            </label>
            <div>
              <input type="text" class="input-medium" 
                ng-disabled = "!unlockEdit"
                ng-model="resource._name" 
                />
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div>
            <label>
              เลขที่บนตู้ : 
            </label>
            <div>
              <input type="text" class="input-medium" 
                ng-disabled = "!unlockEdit"
                ng-model="resource.info.label_id" 
                />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid"><!--tabs menu-->
      <ul class="nav nav-tabs">
        <li ng-class="!__tabIdx && 'active'">
          <a href ng-click="__tabIdx=0">
            ผู้เช่า</a></li>
<!--         <li ng-class="__tabIdx==1 && 'active'">
          <a href ng-click="__tabIdx=1">
            ขนาดและอัตรา</a></li>
 -->      </ul>
    </div>

    <div class="row-fluid"> <!-- tabs body-->

          <div class="container-fluid" ng-show="!__tabIdx"  heading="ที่ตั้ง">
            <div>
              <label>ห้องเลขที่ : </label>
              <input type="text" class="input-medium"
                ng-model="resource.info.room" 
                typeahead="itm for itm in selfList('Area/_name', $viewValue)"
                typeahead-wait-ms="typeaheadWait"
                ng-change="syncTempArea()"
                />
            </div>
            <div ng-bind="tempArea.tenant_name"></div>
            <div>{{ tempArea.shop_name }}</div>
<!--             <div>
              <label>ผู้เช่า : </label>
              <input type="text" class="input-xlarge"
                ng-model="resource.info.tenant" 
                typeahead="itm for itm in selfList('Tenant/_name')"
                typeahead-wait-ms="typeaheadWait"
                />
            </div>
            <div>
              <label>ชื่อร้าน : </label>
              <input type="text" class="input-xlarge"
                ng-model="resource.info.shop_name" 
                typeahead="itm for itm in selfList('info.shop_name')"
                typeahead-wait-ms="typeaheadWait"
                />
            </div>
 -->
<!--             <div>
              <label>ชั้น : </label>
              <input type="text" class="input-medium" ng-model="resource.info.floor" />
            </div>

            <div>
              <label>โซน : </label>
              <input type="text" class="input-medium" 
                ng-model="resource.info.zone" 
                typeahead="itm for itm in selfList('info.zone',$viewValue)"
                typeahead-wait-ms="typeaheadWait"
                />
            </div>
          </div>
 -->
          <div class="container-fluid" ng-show="__tabIdx==1"  heading="ขนาดและอัตรา">
            <div>
              <label>ขนาดพื้นที่ : </label>
              <input type="text" class="input-medium" ng-model="resource.info.size" placeholder="ตร.ม." />
            </div>
            <div>
              <label>อัตราต่อเดือน : </label>
              <input type="text" class="input-medium" ng-model="resource.info.rate" numeral="'money'" />
            </div>
          </div>
    </div>

    <div ng-include="'views/includes/edit-footer.html'"> </div>

  </div>