  <div class="container-fluid">

        <div ng-include="'views/includes/edit-header.html'"> </div>

        <div> <!--head-->
          <div class="row-fluid">
            <div class="span4">
              <label>ประเภทบุคคล : </label>
              <select class="input-medium"
                ng-model  ="resource._type" 
                ng-options="c.name as c.name for c in db.database.BUILT_IN.personTypes"
              ></select>
            </div>

          </div>

          <div class="row-fluid">
            <div class="span4">
              <label>
                ชื่อ : 
                <span>
                  <a href class="btn btn-small" ng-class="resource.info.memo && 'btn-info'" ng-click="toggle_memo = !toggle_memo">memo</a>
                </span>
              </label>
              <input type="text" class="input-large" 
                ng-model="resource._name" 
                />
            </div>


            <div class="span4">
              <label>คำนำหน้า[:ลงท้าย] : </label>
              <input type="text" class="input-large" 
                ng-model="resource.info.prefix" 
                typeahead="itm for itm in selfList('info.prefix', $viewValue)"
                typeahead-wait-ms="typeaheadWait"
                />
            </div>
          </div>

          <div class="row-fluid">
          </div>

          <div ng-show="toggle_memo">
            <div  class="alert alert-info">
                <textarea rows="3" class="input-xxlarge" 
                  ng-model="resource.info.memo" placeholder="บันทึก"
                  ></textarea>
            </div>
          </div>
        </div>

        <div class="row-fluid"> <!--tabs menu-->
          <ul class="nav nav-tabs">
            <li ng-class="!__tabIdx && 'active'">
              <a href ng-click="__tabIdx=0">
                โทรศัพท์และสื่อสาร</a></li>
            <li ng-class="__tabIdx==1 && 'active'">
              <a href ng-click="__tabIdx=1">
                ชื่อ-ที่อยู่</a></li>
          </ul>
        </div>

        <div class="row-fluid"> <!--tabs body-->

          <div class="container-fluid" ng-show="!__tabIdx" heading="โทรศัพท์และสื่อสาร">
            <div class="container-fluid">
              <div class="row-fluid">
                <label>
                  โทรศัพท์ :
                  <a href class="btn btn-small btn-danger" ng-click="resource$entry.add(phones())">
                    เพิ่ม</a>
                </label>

                <div class="alert alert-info" ng-show="phones().length">
                  <div class="row-fluid" ng-repeat="phone in phones()">
                    <hr ng-show="$index" />
                    <div class="pull-right">
                      <a href tabindex=-1 class="btn btn-small btn-warning" 
                        ng-click="resource$entry.remove(phones(),$index)">
                        ลบ</a>
                    </div>

                    <input type="text" class="input-medium"
                      placeholder="มือถือ,ที่บ้าน,..."
                      ng-model="phone.type" 
                      typeahead="itm for itm in selfList('meta.phones.type', $viewValue)"
                      typeahead-wait-ms="typeaheadWait"
                      />

                    <div class="input-prepend">
                      <span class="add-on">หมายเลข</span>
                      <input type="text" class="input-large" ng-model="phone.id" />
                    </div>
                  </div>
                </div>
              </div>

              <div ng-hide="phones().length">&nbsp;</div>


              <div class="row-fluid">                  
                <label>
                  e-contact :
                  <a href class="btn btn-small btn-danger" ng-click="resource$entry.add(econtacts())">
                    เพิ่ม
                  </a>
                </label>

                <div class="alert" ng-show="econtacts().length">
                  <div class="row-fluid" ng-repeat="contact in econtacts()">
                    <hr ng-show="$index" />
                    <div class="pull-right">
                      <a href tabindex="-1" class="btn btn-small btn-warning" 
                        ng-click="resource$entry.remove(econtacts(),$index)">
                        ลบ</a>
                    </div>

                    <input type="text" class="input-medium" 
                      placeholder="fax,email,..."
                      ng-model="contact.type" 
                      typeahead="itm for itm in selfList('meta.econtacts.type', $viewValue)"
                      typeahead-wait-ms="typeaheadWait"
                      />

                    <div class="input-prepend">
                      <span class="add-on">id</span>
                      <input type="text" class="input-large" ng-model="contact.id" />
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> <!-- tab -->

          <div class="container-fluid" ng-show="__tabIdx==1" heading="ชื่อ-ที่อยู่">

            <div class="container-fluid">

              <div class="row-fluid">
                <div>
                  <label>เลขสำคัญ : </label>
                  <input type="text" class="input-large" placeholder="บัตรประชาชน/เลขนิติบุคคล" ng-model="resource.info.person_id" />
                </div>
              </div>

              <div class="row-fluid">
                <div>
                  <label>ชื่อเต็ม : </label>
                  <input type="text" class="input-xxlarge" ng-model="resource.info.detail" />
                </div>

              </div>

              <div class="row-fluid">     
                <label>
                  ที่อยู่ :
                  <a href class="btn btn-small btn-danger" ng-click="resource$entry.add(locations())">
                    เพิ่ม
                  </a>
                </label>

                <div class="alert alert-info" ng-repeat="loc in locations()">
                  <div class="pull-right">
                    <a class="btn btn-small btn-warning" href ng-click="resource$entry.remove(locations(),$index)">
                      ลบ
                    </a>
                  </div>
                  <div class="row-fluid">
                    <div>
                      <input type="text" class="input-medium" 
                        placeholder="ที่บ้าน,ที่ทำงาน,..."
                        ng-model="loc.type" 
                        typeahead="itm for itm in selfList('meta.locations.type', $viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>
                    <div>
                      <textarea rows="2" class="span10" placeholder="ที่อยู่" ng-model="loc.address"></textarea>
                    </div>
                  </div>

                  <div class="row-fluid">
                    <div class="input-prepend span4">
                      <span class="add-on">เขต/อำเภอ</span>
                      <input type="text" class="input-medium" 
                        ng-model="loc.city" 
                        typeahead="itm for itm in selfList('meta.locations.city', $viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>

                    <div class="input-prepend span4">
                      <span class="add-on">จังหวัด</span>
                      <input type="text" class="input-medium" 
                        ng-model="loc.province" 
                        typeahead="itm for itm in selfList('meta.locations.province', $viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>

                    <div class="input-prepend span4">
                      <span class="add-on">รหัสไปรษณีย์</span>
                      <input type="text" class="input-medium" 
                        ng-model="loc.zipcode" 
                        typeahead="itm for itm in selfList('meta.locations.zipcode', $viewValue)"
                        typeahead-wait-ms="typeaheadWait"
                        />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- tab -->

        </div>

        <div ng-include="'views/includes/edit-footer.html'"> </div>

  </div>