<div 
  ng-init="_pageNo = ($parent._pageCount||0)+1; $parent._pageCount = _pageNo"
  ng-class="{'page-break' : _pageNo!=1}"
  >

  <div class="page-header-right" ng-class="{ 'first-page' : _pageNo==1 }">
    <small>{{ _params.term }}</small> 
    สัญญาที่ {{ (_params.code=='*' && custom().code) || _params.code || 'ธญพ.'}} 
    <strong>{{ swapRunning(resource.info.reference || resource._name) }}</strong>
    <div class="no-screen">
      <small>หน้าที่ {{_pageNo}}/{{ $parent._pageCount }}</small>
    </div>
  </div>
  <div style="clear:both; height:1px;padding:0;margin:0;"> </div>
</div>
