
<h5>ข้อ 2. อัตราและการชำระค่าบริการ</h5>
<p>
  2.1 ผู้รับบริการตกลงชำระค่าบริการดังกล่าวข้างต้น ในข้อ 1.1 ถึงข้อ 1.4 แก่ผู้ให้บริการ ไม่ว่าผู้รับบริการจะได้เปิดดำเนินธุรกิจในวันใดหรือไม่ก็ตาม 
  โดยชำระล่วงหน้าเป็นรายเดือนภายในวันที่ 5 ของทุกเดือน 

  <span ng-show="utility_rates().length==1" ng-repeat="rate in utility_rates()">
  ใน {{ rate.description }} <strong>{{ rate.value | numeral }} บาท ({{ rate.value | numeral:'bahttext'}})</strong>
  </span>

  <span ng-show="utility_rates().length &gt; 1">
  ในอัตราดังนี้ 
  </span>
</p>
<p ng-show="utility_rates().length &gt; 1">
  <div ng-repeat="rate in utility_rates()">
  (2.1.{{$index+1}}) {{rate.description}} 
  <span ng-show="rate.value">{{rate.value | numeral}} บาท ({{rate.value | numeral:'bahttext'}})</span>
  </div>
</p>
<p>
  อัตราค่าบริการดังกล่าวยังไม่รวมภาษีมูลค่าเพิ่ม 
  และผู้รับบริการ/<span class="nobr">ผู้เช่า</span> เป็นผู้ชำระค่าภาษีมูลค่าเพิ่ม
</p>
<p>
  2.2 ผู้รับบริการตกลงชำระค่าบริการจอดรถยนต์ในข้อ 1.5 
  แก่ผู้ให้บริการในอาคารจอดรถยนต์ของผู้ให้บริการ (แบบหมุนเวียน) 
  ไม่ว่าผู้รับบริการจะได้ใช้บริการในวันใดหรือไม่ก็ตาม 
  โดยชำระล่วงน้าเป็นรายเดือน ภายในวันที่ 5 ของทุกเดือน 
  เป็นจำนวนเงินเดือนละ <strong>{{ resource.info.parking_rate | numeral }}</strong> บาท 
  <strong>({{resource.info.parking_rate | numeral:'bahttext'}})</strong>
  ซึ่งเป็นอัตราที่ยังไม่รวมภาษีมูลค่าเพิ่ม และผู้รับบริการ/<span class="nobr">ผู้เช่า</span>เป็นผู้ชำระค่าภาษีมูลค่าเพิ่ม
</p>
<p>
  ในกรณีที่ผู้รับบริการ ไม่ชำระเงินตามที่กล่าวข้างต้นภายในกำหนด 
  ผู้รับบริการยินยามเสียค่าปรับเป็นค่าเสียหายในอัตราร้อยละ 15 ต่อปีของเงินที่ค้างชำระ จนกว่าจะชำระครบถ้วน แต่การที่ชำระค่าเสียหายดังกล่าว จะไม่เป็นเหตุให้ถือเป็นข้ออ้างว่า ผู้รับบริการมิได้ผิดสัญญาแต่อย่างใด
</p>