
<h5>ข้อ 3. ค่าบริการ</h5>
<p>3.1 ค่าบริการพื้นที่ส่งเสริมการขาย</p>
<p ng-show="pm().gp">
  ผู้รับบริการตกลงชำระค่าบริการพื้นที่ส่งเสริมการขายให้แก่ผู้ให้บริการ
  เป็นเงินในอัตราร้อยละ {{ (pm().gp * 100) }} ของยอดรายได้ (ไม่รวมภาษีมูลค่าเพิ่ม) 
  จากการขายสินค้าที่วางอยู่ที่พื้นที่ตามสัญญาข้อที่ 1. ก่อนหักค่าใช้จ่าย 
  ซึ่งผู้รับบริการจะสรุปยอดทุกวัน
  พร้อมส่งรายละเอียดของยอดขายมาให้แก่ผู้ให้บริการ เพื่อทำการตรวจสอบ 
  และชำระเงินค่าบริการให้แก่ผู้ให้บริการ ทุกวันที่ 5 ของทุกเดือน
  โดยชำระเป็นแคชเชียร์เช็ค สั่งจ่ายในนาม บริษัท ธัญวิลล์ จำกัด 
  ณ ที่ทำการของผู้ให้บริการในโครงการ ธัญญะ ช็อปปิ้ง พาร์ค 
  เลขที่ 735,735/1-8 ถนนศรีนครินทร์ แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร 
</p>
<p ng-show="utils.notEmpty(pm.rates())">
  ผู้รับบริการตกลงชำระค่าบริการพื้นที่ส่งเสริมการขายให้แก่ผู้ให้บริการ
  เป็นเงินจำนวน <strong>{{ utils.sum(pm_rates(),'value') | numeral }}</strong> บาท
  (<strong>{{ utils.sum(pm_rates(),'value') | numeral:'bahttext' }}</strong>) 
  อัตราค่าบริการดังกล่าวยังไม่รวมภาษีมูลค่าเพิ่ม
  โดยผู้รับบริการจะต้องชำระค่าบริการให้แก่ผู้ให้บริการ ดังนี้
  <div ng-repeat="rate in pm_rates()">
    (3.1.{{$index+1}}) งวดที่ {{ $index+1 }} ชำระเงินจำนวน {{ rate.value | numeral }} บาท 
    ภายในวันที่ {{ rate.date | moment:'thaitext' }}
  </div>
</p>
<p>3.2 ค่าโทรศัพท์และ ค่าบริการสาธารณูปโภค</p>
<p>
  นอกเหนือจากค่าบริการตามข้อ 3.1 
  ผู้รับบริการตกลงชำระเงินค่าโทรศัพท์ และค่าบริการสาธารณูปโภคต่างๆ 
  ที่เกี่ยวของกับการใช้พื้นที่ส่งเสริมการขายตามสัญญา
  (อัตราค่าบริการดังกล่าวยังไม่รวมภาษีมูลค่าเพิ่ม)
  ให้แก่ผู้ให้บริการดังนี้
</p>
<p>
  (3.2.1) ค่าโทรศัพท์ ผู้รับบริการตกลงชำระเงินมัดจำการใช้โทรศัพท์ 
  แก่ผู้ให้บริการ จำนวน <strong>{{ pm().tel_qty }}</strong> เครื่อง 
  (<strong>{{ pm().tel_deposit_rate | numeral  }}</strong> บาท/เครื่อง) 
  คิดเป็นเงินจำนวน <strong>{{ (pm().tel_qty * pm().tel_deposit_rate) | numeral }}</strong> บาท 
  <strong>({{ (pm().tel_qty * pm().tel_deposit_rate) | numeral:'bahttext' }})</strong>
</p>
<p> 
  ผู้รับบริการตกลงชำระเงินค่าติดตั้งโทรศัพท์ให้แก่ผู้ให้บริการจำนวน <strong>{{ pm().tel_qty }}</strong> เครื่อง 
  (<strong>{{ pm().tel_install_rate | numeral }}</strong> บาท/เครื่อง) 
  คิดเป็นเงินจำนวน <strong>{{(pm().tel_qty * pm().tel_install_rate)|numeral }}</strong> บาท
  <strong>({{(pm().tel_qty * pm().tel_install_rate)|numeral:'bahttext' }})</strong>
</p>
<p>
  (3.2.2) ค่าบริการสาธารณูปโภค ผู้รับบริการตกลงวางเงินประกันค่าสาธารณูปโภคอื่นๆ 
  ให้แก่ผู้ให้บริการจำนวน <strong>{{ pm().utils_deposit|numeral }}</strong> บาท
  <strong>({{ pm().utils_deposit | numeral:'bahttext' }})</strong>
  และจะชำระค่าสาธารณูปโภคในอัตราดังนี้
  <div ng-repeat="rate in pm_utilities()">
    &bull; {{ rate.description }} <span ng-show="rate.value">{{ rate.value|numeral }} บาท/หน่วย</span> (ยังไม่รวมภาษีมูลค่าเพิ่ม)
  </div>
</p>
<p>
  3.3 ผู้รับบริการจะต้องชำระค่าบริการต่างๆ ล่วงหน้าในข้อ 3.1, และ ข้อ 3.2.1, ข้อ 3.2.2 
  และภาษีมูลค่าเพิ่ม ให้แก่ผู้ให้บริการ ในวันชำระค่าบริการพื้นที่ส่งเสริมการขาย
  ในข้อ 3.1 ณ ที่ทำการของผู้ให้บริการในโครงการ THANYA SHOPPING PARK 
  เลขที่ 735 ถนนศรีนครินทร์ แขวงสวนหลวง เขตสวนหลวง กรุงเทพมหานคร 
</p>