<div class="container-fluid">

  <div class="row-fluid" style="padding:10px 0;">
  
    <div class="editnav-top">
      <div class="form-inline">
        <span style="padding-right:8px;" ng-show="promiseBusy">
          <img src="images/spinner.gif" />
        </span>
        <span style="padding-right:8px;">
          [ <a href=""
            ng-class="{'label label-inverse' : utils.gScope.thumb_hide_desc}" 
            ng-click="utils.gScope.thumb_hide_desc = !utils.gScope.thumb_hide_desc"> สรุปย่อ </a> ]
        </span>
        <span style="padding-right:8px;">
          <select class="input-small"
            ng-init   ="utils.gScope.thumb_span = utils.OR(utils.gScope.thumb_span,'12')"
            ng-model  ="utils.gScope.thumb_span" 
            ng-options="c.val as (c.dsp+' : แถว ') for c in [{val:'12',dsp:'1'},{val:'6',dsp:'2'},{val:'4',dsp:'3'},{val:'3',dsp:'4'}]"
          ></select>
        </span>
        <input type="text" name="search" class="input-large" ng-model="search" placeholder="ค้นละเอียด" />
      </div>
      <div class="row-fluid text-right">
        <span style="padding-right:8px;" ng-hide="promiseBusy">
          <span>
            แสดง <strong>{{ dataList.length }}</strong>
          </span>
          <span ng-show="dataCount && dataCount != dataList.length">
            จาก <strong>{{ dataCount }}</strong>
          </span>
          <span>รายการ</span>
        </span>
      </div>

    </div>

    <div>
      <h2><a ng-href="#{{ basepath }}" ng-bind="db.title"></a></h2>
      <div ng-show="adminView">
        <a ng-href="#{{ basepath }}/edit/new" class="btn btn-danger">เพิ่มใหม่ </a>
      </div>
    </div>

   
  </div>
  
  <div class="row-fluid">
  
    <div class="span2">
      
      <div class="row-fluid">

        <div class="well well-small">
          <div ng-show="scopes.length">
            <ul class="nav nav-tabs nav-stacked">
              <li ng-repeat="s in scopes" style="white-space : nowrap; overflow : hidden;">
                <a href ng-click="removeScope($index)" title="{{ s }}">
                  <b>&times;</b> {{ s }}
                </a>
              </li>
            </ul>
            <div class="span12">
              <a class="btn btn-small" ng-click="goScope(dataScope, [])">new scope</a> 
            </div>
          </div>
          <form ng-submit="goScope(dataScope)">
            <input type="text" name="scope" class="span12" rows="2" ng-model="dataScope" placeholder="scope.." />
            <div ng-show="dataScope">
              <input type="submit" class="btn btn-small btn-primary pull-right" ng-show="dataScope" value="scope &Delta;" />
            </div>
          </form>
        </div>
      </div>

      <ul ng-show="qvalues.length" class="nav nav-tabs nav-stacked">
        <li>
            <div class="pull-right"> 
              <a href class="btn btn-mini" ng-click="utils.AND(goSearch(),goScope('&quot;' + qvalues.join(', ') + '&quot;'))">
                <b>&Delta;</b>
              </a>
            </div>
            <a href ng-click="goSearch()">
              <b>&times;</b>
              {{ qvalues.join(',') }} 
            </a>
        </li>
      </ul>

      <ul ng-show="categories.length" class="nav nav-pills nav-stacked">
        <li>
          <div ng-show="cat.dataList.length > 1" ng-repeat="cat in categories">
            <ul class="nav nav-pills nav-stacked" ng-init="showCat={}">
              <li class="active">
                <a href ng-click="showCat[cat.label] = !showCat[cat.label]">
                  <b>&equiv; {{ cat.label }}</b>
                </a>
              </li>
              <li ng-show="showCat[cat.label]" ng-repeat="data in cat.dataList | orderBy:'name'">
                <div class="pull-right"> 
                  <button class="btn btn-mini" ng-click="goScope('&quot;' + data.name + '&quot;')">&Delta;</button>
                </div>
                <a href ng-click="goSearch(data.qry)">
                    {{ data.name }}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
    
    <div class="span10">

        <div>
          <ul  class="thumbnails" ng-init="">

              <li 
                ng-class="ifSingleShow('span12','span'+utils.gScope.thumb_span)" 
                ng-repeat="data in dataList | filter:search | orderBy:'_name'">
                <div class="thumbnail">

                    <div class="container-fluid">
                      <div class="row-fluid">

                        <div>
                          <div 
                            ng-class="{ 'pull-right span3' : ifSingleShow(false,utils.gScope.thumb_span==12) }" 
                            ng-repeat="img in data.meta.images | limitTo : 1">
                            <a href ng-click="viewImage(data)" >
                              <img class="img-polaroid" alt="album" title="{{ data._name }}"
                                ng-hide="ifSingleShow(false,utils.gScope.thumb_hide_desc)" 
                                ng-src="{{ img.thumbnailLink }}" />
                              <span ng-show="ifSingleShow(false,utils.gScope.thumb_hide_desc)">album</span>
                            </a>
                          </div>
                        </div>

                        <h3>
                          <a href ng-click="goScope('&quot;'+data._name+'&quot;')" ng-bind="data._name"></a>
                          <span ng-show="adminView">
                            <a class="btn btn-small" ng-href="#{{ basepath }}/edit/{{ data.$id() }}">แก้ไข</a>
                          </span>
                        </h3>


                        <span style="padding-right:4px;" ng-repeat="cat in categories">
                            
                          <span ng-init="_v=utils.lookup(data,cat.name)" ng-show="_v">
                          [ <span ng-bind="cat.label"></span>
                          <a ng-init="_q={}; _q[cat.name]=_v" href ng-click="goSearch(_q)" ng-bind="_v" ></a>
                          ]
                          </span>
                        </span>
                        <!--  to avoid "10 $digest() iterations reached.", 
                            don't directly use function over ng-repeat --> 
                        <div ng-hide="ifSingleShow(false,utils.gScope.thumb_hide_desc)" >
                          <div ng-init="_desc=describe(data)"><dl class="margins-remove">
                            <div ng-repeat="m in _desc">
                              <dt>{{ m.label }}</dt>
                              <dd>
                                <span style="word-wrap:break-word;" ng-class="m.viewClass" >{{ m.format || m.value }}</span>
                              </dd>
                            </div>
                          </dl></div>
                          <div class="well" ng-init="flds = ifSingleShow(singleShowFields,angular.noop)(data)" ng-show="flds">
                            <div ></div>
                            <div class="row-fluid" ng-repeat="fld in flds">
                              <div class="span2 text-info text-center">{{ fld.label }}</div>
                              <div class="span10"><pre>{{ fld.value }}</pre></div>
                            </div>
                          </div>
                        </div>

                        <div modal="imageViewer.opened" close="imageViewer.close()" options="imageViewer.options">
                            <div class="modal-header">
                                <h3>{{ data._name }}</h3>
                            </div>
                            <div class="modal-body">
                                <div>
                                  <div ng-repeat="img in imageViewer.images | limitTo : 1">
                                    <img ng-src="{{ img.src }}" />
                                  </div>
                                </div>
                                <p style="word-wrap:break-word;" class="text-center" ng-bind="imageViewer.description">
                                </p>
                            </div>
                            <div class="modal-footer">
                              <span ng-hide="imageViewer.show" class="text-center">
                                <img src="images/spinner.gif" />
                              </span>
                              <span ng-repeat="folder in imageViewer.folders | limitTo : 1">
                                <a class="btn" target="_blank" ng-repeat="lnk in folder.links | orderBy:'title'" ng-href="{{lnk.link}}" ng-bind="lnk.title"></a>
                              </span>  
                              <button class="btn btn-warning cancel" ng-click="imageViewer.close()">Close</button>
                            </div>
                        </div>

                      </div>
                    </div>

                </div>
              </li>
              
          </ul>
        </div>
    </div>
    
  </div>
</div>

<div class="modal-backdrop" ng-show="imageViewer.opened" ng-click="imageViewer.close()"></div>
